In [1]:
import pandas as pd
#import matplotlib.ticker as mtick
import numpy as np
from arcgis.gis import *
gis = GIS()

strTAZCB        = "TAZ_CB"
strTAZCBRes     = "TAZ_CB_Res"
strTAZLayerName = "USTM_TAZ_2021_09_22"
strCBLayerName  = "tl_2020_49_tabblock10_UTM"
strHUILayerName = "residential_parcels_pts"

# get project and map
aprx = arcpy.mp.ArcGISProject("CURRENT")
m = aprx.listMaps("Map")[0]

# dissolve TAZs with < 4000 area into adjacent
areaThreshold = 4000

In [2]:
# set layer definition for TAZ
for lyr in m.listLayers(strTAZLayerName):
    lyrTAZ = lyr
    if lyr.supports("DEFINITIONQUERY"):
        lyr.definitionQuery = "CO_FIPS IN (49,35,11,57)"
        display('TAZ set to WF Area excluding Box Elder')
                        
                        
# set layer definition for TAZ
for lyr in m.listLayers(strCBLayerName):
    lyrCB = lyr
    if lyr.supports("DEFINITIONQUERY"):
        lyr.definitionQuery = "COUNTYFP10 IN ('049','035','011','057')"
        display('Census Blocks set to only 4 WF counties')
        
for lyr in m.listLayers(strHUILayerName):
    lyrHUI = lyr

'TAZ set to WF Area excluding Box Elder'

'TAZ set to WF Area excluding Box Elder'

'Census Blocks set to only 4 WF counties'

In [3]:
initial_count = arcpy.management.GetCount(strTAZLayerName)
print (initial_count)

# union with self to see if overlapping polygons
arcpy.analysis.Union([strTAZLayerName, strTAZLayerName], "tempTAZSelfUnion")
selfunion_count = arcpy.management.GetCount("tempTAZSelfUnion")
print (selfunion_count)

arcpy.management.Delete("tempTAZSelfUnion")

3476
3476

In [4]:
initial_count = arcpy.management.GetCount(strCBLayerName)
print (initial_count)

# union with self to see if overlapping polygons
arcpy.analysis.Union([strCBLayerName, strCBLayerName], "tempCBSelfUnion")
selfunion_count = arcpy.management.GetCount("tempCBSelfUnion")
print (selfunion_count)

arcpy.management.Delete("tempCBSelfUnion")

43809
43809

In [5]:
#union
arcpy.analysis.Union([strTAZLayerName, strCBLayerName], strTAZCB)

#hide layers
lyrTAZ.visible = False
lyrCB.visible = False

In [6]:
# delete unneeded fields
fldlist = arcpy.ListFields(strTAZCB)

for fld in fldlist: 
    if (fld.name not in ['OBJECTID','CO_TAZID','GEOID10','Shape','Shape_Length','Shape_Area']):
        print("deleting field: " + fld.name)
        arcpy.DeleteField_management(strTAZCB,[fld.name])

print("DONE!")

deleting field: FID_USTM_TAZ_2021_09_22
deleting field: TAZID
deleting field: SA_TAZID
deleting field: CO_IDX
deleting field: SUBAREAID
deleting field: ACRES
deleting field: DEVACRES
deleting field: DEVPBLEPCT
deleting field: X
deleting field: Y
deleting field: ADJ_XY
deleting field: CO_FIPS
deleting field: CO_NAME
deleting field: CITY_NAME
deleting field: DISTSUPER
deleting field: DSUP_NAME
deleting field: DISTLRG
deleting field: DLRG_NAME
deleting field: DISTMED
deleting field: DMED_NAME
deleting field: DISTSML
deleting field: DSML_NAME
deleting field: SORT
deleting field: TAZID_V21B
deleting field: SATAZ_V21B
deleting field: COTAZ_V21B
deleting field: SUBID_V21B
deleting field: TAZID_V21A
deleting field: SATAZ_V21A
deleting field: COTAZ_V21A
deleting field: SUBID_V21A
deleting field: FID_tl_2020_49_tabblock10_UTM
deleting field: STATEFP10
deleting field: COUNTYFP10
deleting field: TRACTCE10
deleting field: BLOCKCE10
deleting field: NAME10
deleting field: MTFCC10
deleting field: UR10
deleting field: UACE10
deleting field: UATYPE
deleting field: FUNCSTAT10
deleting field: ALAND10
deleting field: AWATER10
deleting field: INTPTLAT10
deleting field: INTPTLON10
DONE!

In [7]:
arcpy.analysis.SpatialJoin(strHUILayerName, strTAZCB, strTAZCBRes, "JOIN_ONE_TO_MANY", "KEEP_ALL")
lyrHUI.visible = False

# delte 
fldlist = arcpy.ListFields(strTAZCBRes)

for fld in fldlist: 
    if (fld.name not in ['OBJECTID','CO_TAZID','GEOID10','residential_units','year_built','Shape','Shape_Length','Shape_Area']):
        print("deleting field: " + fld.name)
        arcpy.DeleteField_management(strTAZCBRes,[fld.name])
print("DONE!")

deleting field: Join_Count
deleting field: TARGET_FID
deleting field: JOIN_FID
deleting field: CO_NAME
deleting field: COUNTY_ID
deleting field: PARCEL_ID
deleting field: TOT_VALUE
deleting field: land_value
deleting field: building_sqft
deleting field: FLOORS_CNT
deleting field: EFFBUILT_YR
deleting field: IS_OUG
deleting field: max_dua
deleting field: max_far
deleting field: max_height
deleting field: type1
deleting field: type2
deleting field: type3
deleting field: type4
deleting field: type5
deleting field: type6
deleting field: type7
deleting field: type8
deleting field: agriculture
deleting field: basebldg
deleting field: NoBuild
deleting field: redev_friction
deleting field: building_type_id
deleting field: x
deleting field: y
deleting field: parcel_id_REMM
deleting field: parcel_acres
deleting field: Split
deleting field: Split_Factor
deleting field: parcel_id_REMM_old
deleting field: building_type
deleting field: residential_price
deleting field: non_residential_price
deleting field: non_residential_sqft
deleting field: ORIG_FID
DONE!

In [4]:
# read in TAZ_CB to dataframe to more easily manipulate with Pandas
sdfTazCb = pd.DataFrame.spatial.from_featureclass("TAZ_CB")

In [5]:
# group and get all blocks with at least two 
sdfTazCb_gt1 = sdfTazCb.groupby(['GEOID10'],as_index=False).agg(COUNT=("CO_TAZID","count"))
sdfTazCb_gt1 = sdfTazCb_gt1[(sdfTazCb_gt1['COUNT']>1)]

               GEOID10  COUNT
0                          67
1      490111251021000      2
2      490111251021001      2
3      490111251021002      3
8      490111251021007      2
...                ...    ...
43804  490572112023042      3
43805  490572112023043      2
43807  490572112023045      2
43808  490572112023046      3
43809  490572112023047      4

[18580 rows x 2 columns]

In [7]:
for lyr in m.listLayers(strTAZCB):
    lyrTAZCB = lyr

In [8]:
# toggle for import... since it's such a beast
bRunImport = False

if bRunImport:

    lyrTAZCB.definitionQuery = "GEOID10 = '' AND CO_TAZID = 0"
    #arcpy.management.CopyFeatures(strTAZCB, "TAZ_CB_Eliminated")

    for index, row in sdfTazCb_gt1.iterrows():

        if index >= 0 and index<0: 
            print (index)
            # create layer with only splits from a given census block so that eliminates area always back to original census block and not an adjancent
            lyrTAZCB.definitionQuery = "GEOID10 = '" + row['GEOID10'] + "'"

            print (index, row['GEOID10'])

            arcpy.management.CopyFeatures(strTAZCB, "_temp")

            #select and eliminate pieces with area less than threshold
            arcpy.management.SelectLayerByAttribute("_temp", "NEW_SELECTION", "Shape_Area < " + str(_areaThreshold))


            arcpy.management.Eliminate("_temp", "_temp_eliminated", "LENGTH")

            arcpy.management.Merge("TAZ_CB_Eliminated;_temp_eliminated", r"_temp_merged", 'CO_TAZID "CO_TAZID" true true false 4 Long 0 0,First,#,TAZ_CB_Eliminated,CO_TAZID,-1,-1,_temp_eliminated,CO_TAZID,-1,-1;GEOID10 "GEOID10" true true false 15 Text 0 0,First,#,TAZ_CB_Eliminated,GEOID10,0,15,_temp_eliminated,GEOID10,0,15;Shape_Length "Shape_Length" false true true 8 Double 0 0,First,#,TAZ_CB_Eliminated,Shape_Length,-1,-1,_temp_eliminated,Shape_Length,-1,-1;Shape_Area "Shape_Area" false true true 8 Double 0 0,First,#,TAZ_CB_Eliminated,Shape_Area,-1,-1,_temp_eliminated,Shape_Area,-1,-1', "NO_SOURCE_INFO")

            arcpy.management.Delete("TAZ_CB_Eliminated")
            arcpy.management.CopyFeatures("_temp_merged", "TAZ_CB_Eliminated")

In [14]:
# get features with no splits
lyrTAZCB.definitionQuery = ""
arcpy.analysis.PairwiseDissolve(strTAZCB, "TAZ_CB_Dissolve", "GEOID10", "CO_TAZID MIN;CO_TAZID COUNT", "MULTI_PART")

for lyr in m.listLayers("TAZ_CB_Dissolve"):
    lyrTAZCBDissolve = lyr
lyrTAZCBDissolve.definitionQuery = "COUNT_CO_TAZID = 1"

arcpy.management.CopyFeatures("TAZ_CB_Dissolve", "TAZ_CB_Eliminated_NoSplits")
arcpy.management.Delete("TAZ_CB_Dissolve")

In [4]:
# set layer definition for TAZ
for lyr in m.listLayers(strTAZLayerName):
    lyrTAZ = lyr
    if lyr.supports("DEFINITIONQUERY"):
        lyr.definitionQuery = "CO_FIPS IN (49,35,11,57)"
        display('TAZ set to WF Area excluding Box Elder')

'TAZ set to WF Area excluding Box Elder'

In [22]:


#sdfTAZCB_Combined = pd.DataFrame()
#
#lstLayersToCombine = ""
#
#for lyr in m.listLayers("TAZ_CB_Eliminate*"):
#
#print(lstLayersToCombine)

arcpy.management.Merge("TAZ_CB_Eliminated_NoSplits;TAZ_CB_Eliminated_00000_03999;TAZ_CB_Eliminated_04000_07438;TAZ_CB_Eliminated_07438_07999_11510_11999_15837_15999_23395_23999_26988_27164;TAZ_CB_Eliminated_08000_11509;TAZ_CB_Eliminated_12000_15836;TAZ_CB_Eliminated_16000_20000;TAZ_CB_Eliminated_20000_23394;TAZ_CB_Eliminated_24000_26987;TAZ_CB_Eliminated_27165_27999;TAZ_CB_Eliminated_28000_30617;TAZ_CB_Eliminated_30618_30999;TAZ_CB_Eliminated_31000_32999;TAZ_CB_Eliminated_33000_33999;TAZ_CB_Eliminated_34000_36999;TAZ_CB_Eliminated_37000_39440;TAZ_CB_Eliminated_39441_39999;TAZ_CB_Eliminated_40000_41624;TAZ_CB_Eliminated_41625_42063;TAZ_CB_Eliminated_42064_42299;TAZ_CB_Eliminated_42300_42649;TAZ_CB_Eliminated_42650_42999;TAZ_CB_Eliminated_43000_43802", r"TAZ_CB_Combined", 'GEOID10 "GEOID10" true true false 15 Text 0 0,First,#,TAZ_CB_Eliminated_NoSplits,GEOID10,0,15,TAZ_CB_Eliminated_00000_03999,GEOID10,0,15,TAZ_CB_Eliminated_04000_07438,GEOID10,0,15,TAZ_CB_Eliminated_07438_07999_11510_11999_15837_15999_23395_23999_26988_27164,GEOID10,0,15,TAZ_CB_Eliminated_08000_11509,GEOID10,0,15,TAZ_CB_Eliminated_12000_15836,GEOID10,0,15,TAZ_CB_Eliminated_16000_20000,GEOID10,0,15,TAZ_CB_Eliminated_20000_23394,GEOID10,0,15,TAZ_CB_Eliminated_24000_26987,GEOID10,0,15,TAZ_CB_Eliminated_27165_27999,GEOID10,0,15,TAZ_CB_Eliminated_28000_30617,GEOID10,0,15,TAZ_CB_Eliminated_30618_30999,GEOID10,0,15,TAZ_CB_Eliminated_31000_32999,GEOID10,0,15,TAZ_CB_Eliminated_33000_33999,GEOID10,0,15,TAZ_CB_Eliminated_34000_36999,GEOID10,0,15,TAZ_CB_Eliminated_37000_39440,GEOID10,0,15,TAZ_CB_Eliminated_39441_39999,GEOID10,0,15,TAZ_CB_Eliminated_40000_41624,GEOID10,0,15,TAZ_CB_Eliminated_41625_42063,GEOID10,0,15,TAZ_CB_Eliminated_42064_42299,GEOID10,0,15,TAZ_CB_Eliminated_42300_42649,GEOID10,0,15,TAZ_CB_Eliminated_42650_42999,GEOID10,0,15,TAZ_CB_Eliminated_43000_43802,GEOID10,0,15;MIN_CO_TAZID "CO_TAZID" true true false 4 Long 0 0,First,#,TAZ_CB_Eliminated_NoSplits,MIN_CO_TAZID,-1,-1;COUNT_CO_TAZID "COUNT_CO_TAZID" true true false 4 Long 0 0,First,#,TAZ_CB_Eliminated_NoSplits,COUNT_CO_TAZID,-1,-1;Shape_Length "Shape_Length" false true true 8 Double 0 0,First,#,TAZ_CB_Eliminated_NoSplits,Shape_Length,-1,-1,TAZ_CB_Eliminated_00000_03999,Shape_Length,-1,-1,TAZ_CB_Eliminated_04000_07438,Shape_Length,-1,-1,TAZ_CB_Eliminated_07438_07999_11510_11999_15837_15999_23395_23999_26988_27164,Shape_Length,-1,-1,TAZ_CB_Eliminated_08000_11509,Shape_Length,-1,-1,TAZ_CB_Eliminated_12000_15836,Shape_Length,-1,-1,TAZ_CB_Eliminated_16000_20000,Shape_Length,-1,-1,TAZ_CB_Eliminated_20000_23394,Shape_Length,-1,-1,TAZ_CB_Eliminated_24000_26987,Shape_Length,-1,-1,TAZ_CB_Eliminated_27165_27999,Shape_Length,-1,-1,TAZ_CB_Eliminated_28000_30617,Shape_Length,-1,-1,TAZ_CB_Eliminated_30618_30999,Shape_Length,-1,-1,TAZ_CB_Eliminated_31000_32999,Shape_Length,-1,-1,TAZ_CB_Eliminated_33000_33999,Shape_Length,-1,-1,TAZ_CB_Eliminated_34000_36999,Shape_Length,-1,-1,TAZ_CB_Eliminated_37000_39440,Shape_Length,-1,-1,TAZ_CB_Eliminated_39441_39999,Shape_Length,-1,-1,TAZ_CB_Eliminated_40000_41624,Shape_Length,-1,-1,TAZ_CB_Eliminated_41625_42063,Shape_Length,-1,-1,TAZ_CB_Eliminated_42064_42299,Shape_Length,-1,-1,TAZ_CB_Eliminated_42300_42649,Shape_Length,-1,-1,TAZ_CB_Eliminated_42650_42999,Shape_Length,-1,-1,TAZ_CB_Eliminated_43000_43802,Shape_Length,-1,-1;Shape_Area "Shape_Area" false true true 8 Double 0 0,First,#,TAZ_CB_Eliminated_NoSplits,Shape_Area,-1,-1,TAZ_CB_Eliminated_00000_03999,Shape_Area,-1,-1,TAZ_CB_Eliminated_04000_07438,Shape_Area,-1,-1,TAZ_CB_Eliminated_07438_07999_11510_11999_15837_15999_23395_23999_26988_27164,Shape_Area,-1,-1,TAZ_CB_Eliminated_08000_11509,Shape_Area,-1,-1,TAZ_CB_Eliminated_12000_15836,Shape_Area,-1,-1,TAZ_CB_Eliminated_16000_20000,Shape_Area,-1,-1,TAZ_CB_Eliminated_20000_23394,Shape_Area,-1,-1,TAZ_CB_Eliminated_24000_26987,Shape_Area,-1,-1,TAZ_CB_Eliminated_27165_27999,Shape_Area,-1,-1,TAZ_CB_Eliminated_28000_30617,Shape_Area,-1,-1,TAZ_CB_Eliminated_30618_30999,Shape_Area,-1,-1,TAZ_CB_Eliminated_31000_32999,Shape_Area,-1,-1,TAZ_CB_Eliminated_33000_33999,Shape_Area,-1,-1,TAZ_CB_Eliminated_34000_36999,Shape_Area,-1,-1,TAZ_CB_Eliminated_37000_39440,Shape_Area,-1,-1,TAZ_CB_Eliminated_39441_39999,Shape_Area,-1,-1,TAZ_CB_Eliminated_40000_41624,Shape_Area,-1,-1,TAZ_CB_Eliminated_41625_42063,Shape_Area,-1,-1,TAZ_CB_Eliminated_42064_42299,Shape_Area,-1,-1,TAZ_CB_Eliminated_42300_42649,Shape_Area,-1,-1,TAZ_CB_Eliminated_42650_42999,Shape_Area,-1,-1,TAZ_CB_Eliminated_43000_43802,Shape_Area,-1,-1;CO_TAZID "CO_TAZID" true true false 4 Long 0 0,First,#,TAZ_CB_Eliminated_00000_03999,CO_TAZID,-1,-1,TAZ_CB_Eliminated_04000_07438,CO_TAZID,-1,-1,TAZ_CB_Eliminated_07438_07999_11510_11999_15837_15999_23395_23999_26988_27164,CO_TAZID,-1,-1,TAZ_CB_Eliminated_08000_11509,CO_TAZID,-1,-1,TAZ_CB_Eliminated_12000_15836,CO_TAZID,-1,-1,TAZ_CB_Eliminated_16000_20000,CO_TAZID,-1,-1,TAZ_CB_Eliminated_20000_23394,CO_TAZID,-1,-1,TAZ_CB_Eliminated_24000_26987,CO_TAZID,-1,-1,TAZ_CB_Eliminated_27165_27999,CO_TAZID,-1,-1,TAZ_CB_Eliminated_28000_30617,CO_TAZID,-1,-1,TAZ_CB_Eliminated_30618_30999,CO_TAZID,-1,-1,TAZ_CB_Eliminated_31000_32999,CO_TAZID,-1,-1,TAZ_CB_Eliminated_33000_33999,CO_TAZID,-1,-1,TAZ_CB_Eliminated_34000_36999,CO_TAZID,-1,-1,TAZ_CB_Eliminated_37000_39440,CO_TAZID,-1,-1,TAZ_CB_Eliminated_39441_39999,CO_TAZID,-1,-1,TAZ_CB_Eliminated_40000_41624,CO_TAZID,-1,-1,TAZ_CB_Eliminated_41625_42063,CO_TAZID,-1,-1,TAZ_CB_Eliminated_42064_42299,CO_TAZID,-1,-1,TAZ_CB_Eliminated_42300_42649,CO_TAZID,-1,-1,TAZ_CB_Eliminated_42650_42999,CO_TAZID,-1,-1,TAZ_CB_Eliminated_43000_43802,CO_TAZID,-1,-1', "NO_SOURCE_INFO")

In [23]:
#replace nulls with zeros
fieldObs = arcpy.ListFields('TAZ_CB_Combined')  
fieldNames = []  
for field in fieldObs:  
    fieldNames.append(field.name)  
del fieldObs  
fieldCount = len(fieldNames)  

with arcpy.da.UpdateCursor('TAZ_CB_Combined', fieldNames) as curU:  
    for row in curU:  
        rowU = row  
        for field in range(fieldCount):  
            if rowU[field] == None:  
                rowU[field] = "0"  
      
      
        curU.updateRow(rowU)

del curU

In [24]:
# create new TAZID field and populate with correct value... adding the two fields, since one or other is always 0
arcpy.management.AddField("TAZ_CB_Combined", "CO_TAZID_Combined", "INTEGER")
arcpy.CalculateField_management("TAZ_CB_Combined", "CO_TAZID_Combined", "!MIN_CO_TAZID! + !CO_TAZID!", "PYTHON", "")

# add _shapearea field since sdf can't see Shape.Area field
arcpy.management.AddField("TAZ_CB_Combined", "_shapearea", "DOUBLE")
arcpy.CalculateField_management("TAZ_CB_Combined", "_shapearea", "!shape.area!", "PYTHON", "")

# delete unneeded fields
arcpy.management.DeleteField("TAZ_CB_Combined","MIN_CO_TAZID")
arcpy.management.DeleteField("TAZ_CB_Combined","CO_TAZID")
arcpy.management.DeleteField("TAZ_CB_Combined","COUNT_CO_TAZID")

# get back to CO_TAZID name
arcpy.management.AddField("TAZ_CB_Combined", "CO_TAZID", "INTEGER")
arcpy.CalculateField_management("TAZ_CB_Combined", "CO_TAZID", "!CO_TAZID_Combined!", "PYTHON", "")
arcpy.management.DeleteField("TAZ_CB_Combined","CO_TAZID_Combined")

In [6]:
sdfTAZCB_Clean = pd.DataFrame.spatial.from_featureclass("TAZ_CB_Combined")
display(sdfTAZCB_Clean)

       OBJECTID  ...                                              SHAPE
0             1  ...  {"rings": [[[423685.8311999999, 4550176.372300...
1             2  ...  {"rings": [[[423664.0318999998, 4550936.680099...
2             3  ...  {"rings": [[[423835.48170000035, 4549739.37219...
3             4  ...  {"rings": [[[423835.48170000035, 4549739.37219...
4             5  ...  {"rings": [[[427765.27749999985, 4550716.73750...
...         ...  ...                                                ...
49331     49332  ...  {"rings": [[[421623.99590000045, 4554628.8992]...
49332     49333  ...  {"rings": [[[423275.44409999996, 4554251.9965]...
49333     49334  ...  {"rings": [[[423277.17870000005, 4554252.63130...
49334     49335  ...  {"rings": [[[423440.20189999975, 4554125.6844]...
49335     49336  ...  {"rings": [[[423404.5109000001, 4554196.2269],...

[49336 rows x 5 columns]

In [7]:
# get rid of duplicate index
#if sdfTAZCB_Clean.index.is_unique==False:
#    sdfTAZCB_Clean = sdfTAZCB_Clean.reset_index()
#    sdfTAZCB_Clean = sdfTAZCB_Clean.drop(columns=('index'))
#    display(sdfTAZCB_Clean)

In [8]:
# create numbering of pieces base on a cumulative count
sdfTAZCB_Clean['PIECECNT'] = sdfTAZCB_Clean.groupby(['GEOID10']).cumcount()+1
display(sdfTAZCB_Clean)

       OBJECTID  ... PIECECNT
0             1  ...        1
1             2  ...        1
2             3  ...        1
3             4  ...        1
4             5  ...        1
...         ...  ...      ...
49331     49332  ...        1
49332     49333  ...        1
49333     49334  ...        2
49334     49335  ...        1
49335     49336  ...        2

[49336 rows x 6 columns]

In [9]:
# for IDs determin which GEOIDS are not split
dfGEOID10s_NumPieces = sdfTAZCB_Clean.groupby(['GEOID10'],as_index=False).agg(NUMPIECES=('CO_TAZID','count'))
dfGEOID10s_NumPieces

               GEOID10  NUMPIECES
0                              50
1      490111251021000          1
2      490111251021001          1
3      490111251021002          2
4      490111251021003          1
...                ...        ...
43803  490572112023043          1
43804  490572112023044          1
43805  490572112023045          1
43806  490572112023046          2
43807  490572112023047          2

[43808 rows x 2 columns]

In [10]:
dfGEOID10s_NumPieces[dfGEOID10s_NumPieces['GEOID10']=='490351128051003']

               GEOID10  NUMPIECES
13210  490351128051003          1

In [11]:
sdfTAZCB_withNumPieces = pd.DataFrame.merge(sdfTAZCB_Clean,dfGEOID10s_NumPieces,on='GEOID10',how='left')
sdfTAZCB_withNumPieces

       OBJECTID          GEOID10  ...  PIECECNT  NUMPIECES
0             1  490111251021003  ...         1          1
1             2  490111251021004  ...         1          1
2             3  490111251021005  ...         1          1
3             4  490111251021006  ...         1          1
4             5  490111251021009  ...         1          1
...         ...              ...  ...       ...        ...
49331     49332  490572112023045  ...         1          1
49332     49333  490572112023046  ...         1          2
49333     49334  490572112023046  ...         2          2
49334     49335  490572112023047  ...         1          2
49335     49336  490572112023047  ...         2          2

[49336 rows x 7 columns]

In [12]:
# setup unique id which is combination of GEOID and the split number created when splitting by TAZs
sdfTAZCB_withNumPieces['BLOCKSPLITID'] = ""
sdfTAZCB_withNumPieces.loc[(sdfTAZCB_withNumPieces['NUMPIECES']==1), 'BLOCKSPLITID'] = sdfTAZCB_withNumPieces['GEOID10'] + '_0'
sdfTAZCB_withNumPieces.loc[(sdfTAZCB_withNumPieces['NUMPIECES']!=1), 'BLOCKSPLITID'] = sdfTAZCB_withNumPieces['GEOID10'] + '_' + sdfTAZCB_withNumPieces['PIECECNT'].astype(str)

display(sdfTAZCB_withNumPieces)
display(sdfTAZCB_withNumPieces[sdfTAZCB_withNumPieces['GEOID10']=='490351128051003'])

sdfTAZCB_withNumPieces['SMALL'] = 0
sdfTAZCB_withNumPieces.loc[sdfTAZCB_withNumPieces['_shapearea']<areaThreshold, 'SMALL'] = 1

#remove columns no longer needed
sdfTAZCB_Final = sdfTAZCB_withNumPieces[['BLOCKSPLITID','GEOID10','CO_TAZID','SMALL','_shapearea']]

display(sdfTAZCB_Final)

       OBJECTID          GEOID10  ...  NUMPIECES       BLOCKSPLITID
0             1  490111251021003  ...          1  490111251021003_0
1             2  490111251021004  ...          1  490111251021004_0
2             3  490111251021005  ...          1  490111251021005_0
3             4  490111251021006  ...          1  490111251021006_0
4             5  490111251021009  ...          1  490111251021009_0
...         ...              ...  ...        ...                ...
49331     49332  490572112023045  ...          1  490572112023045_0
49332     49333  490572112023046  ...          2  490572112023046_1
49333     49334  490572112023046  ...          2  490572112023046_2
49334     49335  490572112023047  ...          2  490572112023047_1
49335     49336  490572112023047  ...          2  490572112023047_2

[49336 rows x 8 columns]

       OBJECTID          GEOID10  ...  NUMPIECES       BLOCKSPLITID
32890     32891  490351128051003  ...          1  490351128051003_0

[1 rows x 8 columns]

            BLOCKSPLITID          GEOID10  CO_TAZID  SMALL    _shapearea
0      490111251021003_0  490111251021003    110118      0  1.441128e+04
1      490111251021004_0  490111251021004    110118      1  5.383096e+02
2      490111251021005_0  490111251021005    110118      0  3.688845e+04
3      490111251021006_0  490111251021006    110118      0  1.571937e+04
4      490111251021009_0  490111251021009    110322      0  1.620769e+06
...                  ...              ...       ...    ...           ...
49331  490572112023045_0  490572112023045    570422      0  2.519889e+04
49332  490572112023046_1  490572112023046    110058      0  8.142609e+03
49333  490572112023046_2  490572112023046    570422      0  9.292586e+03
49334  490572112023047_1  490572112023047    110058      1  1.608312e+02
49335  490572112023047_2  490572112023047    570422      1  1.114001e+03

[49336 rows x 5 columns]

In [13]:
sdfTAZCB_Final[sdfTAZCB_Final['GEOID10']=='490351128051003']

            BLOCKSPLITID          GEOID10  CO_TAZID  SMALL    _shapearea
32890  490351128051003_0  490351128051003    351033      0  16664.789446

In [14]:
# SECOND ROUND

In [15]:
# group and get all blocks with at least two and one with area less than threshhold
sdfTazCb_gt1 = sdfTAZCB_Final.groupby(['GEOID10'],as_index=False).agg(COUNT=("CO_TAZID","count"),NUMSMALL=('SMALL','sum'))
sdfTazCb_gt1 = sdfTazCb_gt1[(sdfTazCb_gt1['COUNT']>1)]
sdfTazCb_gt1wSmall = sdfTazCb_gt1[(sdfTazCb_gt1['NUMSMALL']>0)]
sdfTazCb_gt1wSmall = sdfTazCb_gt1wSmall[sdfTazCb_gt1wSmall['GEOID10']!=""]
sdfTazCb_gt1wSmall

               GEOID10  COUNT  NUMSMALL
210    490111251031014      2         1
351    490111251041005      2         2
373    490111251041027      2         1
463    490111251042053      2         1
716    490111252002193      2         2
...                ...    ...       ...
43475  490572110002010      2         1
43514  490572111002012      2         2
43563  490572111005000      2         2
43615  490572112011027      4         1
43807  490572112023047      2         2

[1254 rows x 3 columns]

In [16]:
strCBS = "Census_Block_Splits"

arcpy.management.CopyFeatures("TAZ_CB_Combined", strCBS)

for lyr in m.listLayers(strCBS):
    lyrCBS = lyr


lyrCBS.definitionQuery = ""

In [37]:
# toggle for import... since it's such a beast
bRun = False


if bRun:
    
    lyrCBS.definitionQuery = "GEOID10 = 'X' AND CO_TAZID = 0"
    arcpy.management.CopyFeatures(strCBS, "TAZ_CBS_Eliminated")

    for index, row in sdfTazCb_gt1wSmall.iterrows():

        if index < 50000:
            # create layer with only splits from a given census block so that eliminates area always back to original census block and not an adjancent
            lyrCBS.definitionQuery = "GEOID10 = '" + row['GEOID10'] + "'"

            print (index, row['GEOID10'])

            arcpy.management.CopyFeatures(strCBS, "_temp")

            #select and eliminate pieces with area less than threshold
            arcpy.management.SelectLayerByAttribute("_temp", "NEW_SELECTION", "Shape_Area < " + str(areaThreshold))

            arcpy.management.Eliminate("_temp", "_temp_eliminated", "LENGTH")

            arcpy.management.Merge("TAZ_CBS_Eliminated;_temp_eliminated", r"_temp_merged", 'CO_TAZID "CO_TAZID" true true false 4 Long 0 0,First,#,TAZ_CBS_Eliminated,CO_TAZID,-1,-1,_temp_eliminated,CO_TAZID,-1,-1;GEOID10 "GEOID10" true true false 15 Text 0 0,First,#,TAZ_CBS_Eliminated,GEOID10,0,15,_temp_eliminated,GEOID10,0,15;Shape_Length "Shape_Length" false true true 8 Double 0 0,First,#,TAZ_CBS_Eliminated,Shape_Length,-1,-1,_temp_eliminated,Shape_Length,-1,-1;Shape_Area "Shape_Area" false true true 8 Double 0 0,First,#,TAZ_CBS_Eliminated,Shape_Area,-1,-1,_temp_eliminated,Shape_Area,-1,-1', "NO_SOURCE_INFO")

            arcpy.management.Delete("TAZ_CBS_Eliminated")
            arcpy.management.CopyFeatures("_temp_merged", "TAZ_CBS_Eliminated")
            
arcpy.management.Delete("_temp")
arcpy.management.Delete("_temp_eliminated")
arcpy.management.Delete("_temp_merged")

210 490111251031014
351 490111251041005
373 490111251041027
463 490111251042053
716 490111252002193
927 490111253014003
953 490111253031006
957 490111253031010
971 490111253031024
972 490111253031025
975 490111253031028
992 490111253031045
1002 490111253032000
1053 490111253032051
1092 490111253033030
1094 490111253033032
1107 490111253041000
1134 490111253042010
1162 490111253042038
1165 490111253043001
1194 490111253051010
1202 490111253051018
1257 490111253053016
1264 490111254011004
1266 490111254011006
1296 490111254011036
1300 490111254012000
1389 490111254012089
1423 490111254013008
1436 490111254013021
1505 490111254032027
1526 490111254033009
1532 490111254033015
1725 490111254051064
1765 490111254052035
1805 490111254061023
1828 490111254062016
1890 490111255011028
1934 490111255013017
2030 490111255031019
2149 490111257011011
2202 490111257021020
2227 490111257022012
2251 490111257023005
2301 490111258011029
2402 490111258041052
2586 490111258071010
2600 490111258072005
2652 490111258082000
2695 490111258083013
2718 490111259052000
2754 490111259053016
2966 490111259071045
3101 490111260013016
3120 490111260021002
3169 490111260021051
3174 490111260021056
3179 490111260022002
3183 490111260022006
3211 490111261011000
3242 490111261011031
3319 490111261014000
3396 490111261041050
3469 490111261042061
3481 490111261042073
3485 490111261043001
3532 490111261043048
3741 490111262021080
3743 490111262021082
3951 490111262032019
3960 490111262032028
3968 490111262032036
4085 490111262041104
4284 490111263041031
4319 490111263041066
4333 490111263041080
4380 490111263042019
4384 490111263042023
4484 490111263061016
4493 490111263061025
4541 490111263062035
4545 490111263062039
4582 490111263063033
4585 490111263063036
4586 490111263063037
4766 490111264022086
4820 490111264041050
4885 490111264052013
4980 490111264062041
5088 490111265005019
5145 490111266002028
5166 490111266003018
5195 490111267002011
5203 490111267002019
5207 490111267002023
5241 490111267004016
5408 490111269013009
5425 490111269015005
5447 490111269016013
5461 490111269016027
5515 490111269023016
5548 490111269024014
5627 490111270021076
5645 490111270021094
5745 490111270031033
5803 490111270032056
5807 490111270032060
5820 490111270032073
5834 490111270032087
5840 490111270032093
5897 490111270041007
5900 490111270041010
5973 490111270042022
5985 490111270042034
5994 490111270042043
6015 490111270043012
6018 490111270043015
6079 490111271002022
6113 490111271003023
6118 490111271004000
6229 490351001001031
6244 490351001002007
6248 490351001002011
6249 490351001002012
6250 490351001002013
6268 490351002001012
6299 490351003061006
6319 490351003062019
6403 490351003081000
6412 490351003081009
6453 490351005002011
6492 490351005005011
6511 490351006001016
6513 490351006001018
6548 490351006004000
6563 490351006005000
6572 490351006005009
6622 490351008001008
6636 490351008003005
6706 490351010002041
6725 490351011011010
6759 490351011022012
6869 490351014002000
6874 490351014002005
6927 490351015002004
6955 490351016002007
6956 490351016002008
6972 490351016003015
6982 490351017001007
7019 490351018003005
7023 490351019001000
7025 490351019001002
7026 490351019001003
7028 490351019001005
7029 490351019002000
7031 490351019002002
7032 490351019002003
7035 490351019002006
7039 490351020001002
7045 490351020001008
7046 490351020001009
7062 490351020002005
7066 490351020003003
7069 490351021001000
7070 490351021001001
7071 490351021001002
7072 490351021001003
7073 490351021001004
7074 490351021001005
7075 490351021001006
7076 490351021001007
7077 490351023001000
7082 490351023001005
7084 490351023002000
7085 490351023002001
7086 490351023002002
7087 490351023002003
7088 490351023002004
7089 490351023002005
7090 490351023002006
7096 490351025001000
7097 490351025001001
7098 490351025001002
7100 490351025001004
7111 490351025001015
7112 490351025001016
7113 490351025001017
7115 490351025001019
7116 490351025001020
7117 490351025001021
7119 490351025001023
7120 490351025001024
7124 490351025001028
7130 490351025001034
7131 490351025001035
7132 490351025001036
7134 490351025001038
7141 490351025001045
7157 490351026001013
7176 490351026002000
7200 490351026003001
7205 490351026003006
7210 490351026003011
7228 490351027011003
7265 490351027013000
7282 490351027013017
7301 490351027021001
7310 490351027021010
7327 490351027022000
7359 490351028011016
7362 490351028011019
7364 490351028011021
7368 490351028011025
7391 490351028012021
7418 490351028021000
7423 490351028021005
7427 490351028021009
7436 490351028021018
7456 490351028021038
7459 490351028022000
7487 490351028023012
7506 490351029001017
7509 490351029001020
7527 490351029001038
7530 490351029001041
7532 490351029001043
7545 490351029002012
7549 490351029002016
7556 490351029002023
7564 490351029002031
7573 490351029003005
7574 490351029003006
7583 490351029003015
7584 490351029003016
7603 490351030001017
7604 490351030001018
7625 490351030002018
7644 490351031001018
7660 490351031002015
7689 490351032001014
7709 490351032002017
7728 490351032003017
7756 490351033002020
7775 490351033003018
7786 490351034001010
7802 490351034002015
7818 490351034003015
7831 490351035001011
7845 490351035002013
7863 490351035003015
7881 490351036001015
7891 490351036002008
7896 490351036002013
7931 490351037002016
7971 490351039001009
7987 490351039002012
8021 490351040001014
8039 490351040002013
8053 490351040003010
8096 490351041002021
8138 490351042003010
8182 490351043001008
8190 490351043001016
8219 490351044001014
8220 490351044001015
8230 490351044002000
8260 490351047001013
8318 490351047003022
8400 490351049001008
8413 490351049002004
8436 490351049003014
8784 490351101032023
8797 490351101032036
8802 490351101032041
9024 490351102005008
9041 490351103002005
9070 490351103004009
9129 490351104013005
9144 490351104021009
9148 490351104021013
9160 490351104023000
9256 490351105003008
9271 490351105004012
9290 490351106001017
9371 490351107011010
9399 490351107021003
9425 490351107022018
9452 490351108001005
9495 490351108004001
9587 490351110011026
9596 490351110012005
9683 490351110022013
9714 490351110023023
9746 490351111011030
9750 490351111012002
9808 490351111013009
9840 490351111014021
9889 490351111023007
10003 490351111034029
10015 490351112011006
10044 490351112012010
10202 490351113041019
10322 490351114001013
10334 490351114002011
10375 490351114004016
10386 490351114005010
10399 490351114006010
10404 490351114006015
10432 490351115001026
10449 490351115001043
10457 490351115001051
10460 490351115001054
10461 490351115001055
10466 490351115001060
10480 490351115001074
10482 490351115001076
10487 490351115001081
10499 490351115001093
10500 490351115001094
10504 490351115001098
10521 490351115001115
10522 490351115001116
10523 490351115001117
10524 490351115001118
10530 490351115001124
10533 490351115001127
10545 490351116001009
10547 490351116001011
10551 490351116001015
10557 490351116001021
10580 490351116001044
10590 490351116002008
10627 490351116004001
10646 490351117011006
10662 490351117012014
10682 490351117021010
10693 490351117022008
10708 490351117023012
10721 490351117024007
10740 490351118011018
10758 490351118012017
10776 490351118013015
10788 490351118021006
10797 490351118021015
10822 490351118022023
10834 490351118022035
10852 490351119031014
10867 490351119032012
10915 490351119043009
10991 490351120011011
11000 490351120011020
11044 490351120022006
11047 490351120023000
11067 490351120024007
11111 490351121002015
11112 490351121002016
11115 490351121002019
11142 490351121002046
11167 490351121002071
11173 490351121003005
11177 490351121003009
11200 490351121004010
11226 490351121005023
11239 490351122011011
11269 490351122011041
11282 490351122012012
11290 490351122013006
11325 490351122021013
11372 490351122022030
11382 490351122022040
11440 490351123013013
11472 490351123021027
11509 490351123023026
11515 490351124021001
11576 490351124023020
11591 490351124024009
11613 490351124031012
11625 490351124031024
11627 490351124031026
11710 490351124041005
11721 490351124041016
11760 490351125011007
11809 490351125021006
11828 490351125022011
11829 490351125023000
11837 490351125023008
11925 490351125033016
11927 490351125033018
11933 490351125033024
11938 490351125033029
11974 490351126041028
12035 490351126044011
12051 490351126051009
12071 490351126052013
12077 490351126053005
12105 490351126054006
12116 490351126054017
12126 490351126054027
12160 490351126055029
12201 490351126082009
12285 490351126091029
12493 490351126113024
12542 490351126121017
12645 490351126133010
12695 490351126142002
12950 490351126191003
13033 490351127002018
13071 490351127003036
13076 490351127003041
13105 490351127004000
13116 490351127004011
13119 490351127004014
13145 490351128041012
13169 490351128042022
13188 490351128043018
13292 490351128101001
13299 490351128101008
13300 490351128101009
13308 490351128101017
13316 490351128101025
13319 490351128102000
13333 490351128102014
13343 490351128102024
13397 490351128102078
13398 490351128102079
13489 490351128122017
13508 490351128123012
13527 490351128124010
13579 490351128133000
13716 490351128151012
13735 490351128151031
13748 490351128152007
13807 490351128161000
13808 490351128161001
13865 490351128163018
13900 490351128171019
13906 490351128171025
13934 490351128171053
13942 490351128171061
13959 490351128171078
13977 490351128172015
13997 490351128172035
14012 490351128172050
14014 490351128172052
14019 490351128172057
14024 490351128172062
14045 490351128173012
14048 490351128181000
14090 490351128191032
14125 490351128192032
14160 490351128201007
14165 490351128201012
14374 490351128221000
14392 490351128221018
14404 490351128222001
14419 490351128222016
14475 490351128233031
14479 490351128233035
14516 490351129042017
14530 490351129042031
14585 490351129052008
14606 490351129053015
14607 490351129053016
14619 490351129053028
14653 490351129072017
14660 490351129073001
14672 490351129121009
14705 490351129122010
14739 490351129132017
14754 490351129133012
14781 490351129142010
14803 490351129143009
14875 490351129171005
14907 490351129172019
14914 490351129181006
14985 490351129202018
14990 490351129202023
15001 490351129211008
15013 490351129212010
15029 490351129213008
15052 490351130071015
15057 490351130071020
15070 490351130072012
15080 490351130081006
15094 490351130082010
15107 490351130083012
15115 490351130084000
15149 490351130101008
15150 490351130102000
15154 490351130102004
15159 490351130102009
15173 490351130103007
15182 490351130103016
15206 490351130104011
15223 490351130111013
15242 490351130112013
15291 490351130121000
15301 490351130121010
15403 490351130131038
15406 490351130131041
15407 490351130131042
15437 490351130132026
15468 490351130141020
15500 490351130142023
15510 490351130161008
15570 490351130162021
15587 490351130171000
15590 490351130171003
15622 490351130173010
15646 490351130174013
15664 490351130191008
15669 490351130191013
15699 490351130191043
15736 490351130191080
15760 490351130201005
15931 490351130201176
15972 490351131012009
16016 490351131013031
16057 490351131021012
16217 490351131052002
16262 490351131052047
16305 490351131071000
16346 490351131071041
16393 490351131071088
16509 490351131073000
16531 490351131073022
16536 490351131073027
16709 490351133052025
16735 490351133053017
16746 490351133053028
16767 490351133054015
16782 490351133062001
16793 490351133063005
16799 490351133063011
16804 490351133071002
16829 490351133072010
16844 490351133073009
16857 490351133074003
16899 490351133081006
16900 490351133082000
16932 490351133083009
16967 490351133092013
16979 490351133093010
16989 490351133101005
16993 490351133101009
17016 490351134061000
17019 490351134061003
17048 490351134062021
17063 490351134063013
17086 490351134071018
17101 490351134072013
17124 490351134072036
17134 490351134072046
17154 490351134073000
17233 490351134082019
17251 490351134091004
17339 490351134103016
17364 490351134111013
17380 490351134112005
17388 490351134112013
17418 490351134121029
17475 490351134133021
17500 490351135052018
17535 490351135091000
17600 490351135092021
17615 490351135101014
17616 490351135101015
17643 490351135103005
17644 490351135103006
17695 490351135112019
17721 490351135122005
17741 490351135131015
17825 490351135144010
17843 490351135151009
17866 490351135152012
17916 490351135201004
17920 490351135201008
17983 490351135212011
18006 490351135214002
18031 490351135221014
18044 490351135222011
18066 490351135231014
18091 490351135233006
18211 490351135252067
18246 490351135252102
18301 490351135262013
18415 490351135321015
18445 490351135331007
18460 490351135331022
18473 490351135331035
18485 490351135332011
18495 490351135333008
18516 490351135341015
18536 490351135341035
18594 490351135342031
18636 490351135351038
18646 490351135351048
18676 490351135361005
18689 490351135362000
18692 490351135362003
18717 490351135371020
18736 490351135372015
18746 490351135381008
18754 490351135382000
18800 490351135392013
18808 490351136001000
18842 490351136002013
18895 490351137011013
18945 490351137021018
18963 490351138011006
19053 490351138023000
19152 490351139031011
19153 490351139031012
19154 490351139031013
19180 490351139032011
19181 490351139032012
19190 490351139041008
19225 490351139044013
19286 490351139054001
19301 490351139054016
19306 490351139054021
19415 490351139061108
19418 490351139061111
19473 490351139061166
19474 490351139061167
19478 490351139061171
19479 490351139061172
19486 490351139061179
19515 490351139061208
19586 490351139071010
19649 490351139071073
19719 490351139071143
19770 490351139073014
19772 490351140001001
19773 490351140001002
19774 490351140001003
19777 490351140001006
19778 490351140001007
19781 490351140001010
19783 490351140001012
19784 490351140001013
19787 490351140001016
19789 490351140001018
19790 490351140001019
19791 490351140001020
19792 490351140001021
19793 490351140001022
19794 490351140001023
19795 490351140001024
19796 490351140001025
19797 490351140001026
19798 490351140001027
19799 490351140001028
19800 490351140001029
19801 490351140001030
19811 490351140001040
19812 490351140001041
19814 490351140001043
19815 490351140001044
19816 490351140001045
19817 490351140001046
19827 490351140001056
19828 490351140001057
19830 490351140001059
19836 490351140001065
19847 490351140001076
19851 490351140001080
19853 490351140001082
19854 490351140001083
19866 490351141001011
19872 490351141001017
19879 490351141001024
19892 490351141002009
19895 490351141002012
19900 490351141002017
19909 490351142001000
19942 490351142001033
19955 490351142002000
20084 490351143002031
20089 490351143002036
20162 490351143003045
20180 490351143004006
20241 490351143004067
20279 490351145001019
20302 490351145002010
20355 490351145003049
20360 490351145003054
20377 490351145003071
20386 490351145003080
20391 490351145003085
20396 490351145003090
20421 490351145003115
20427 490351145003121
20437 490351145003131
20453 490351145003147
20483 490351145003177
20484 490351145003178
20493 490351145003187
20516 490351145003210
20522 490351145003216
20528 490351145003222
20529 490351145003223
20530 490351145003224
20539 490351145003233
20612 490351146002016
20627 490351146003006
20653 490351147001010
20655 490351147001012
20685 490351147001042
20730 490351147002016
20794 490351151061001
20960 490351151061167
21016 490351152091033
21100 490359800001019
21124 490359800001043
21125 490359800001044
21127 490359800001046
21132 490359800001051
21133 490490001021000
21182 490490001023006
21203 490490001023027
21279 490490001032009
21280 490490001032010
21291 490490001032021
21313 490490001032043
21344 490490001034000
21354 490490001034010
21360 490490001034016
21438 490490001051011
21473 490490002031000
21494 490490002032000
21564 490490002041000
21594 490490002042003
21620 490490002043007
21640 490490002044010
21718 490490002051035
21730 490490002052011
21774 490490002061000
21808 490490002062010
21855 490490004002005
21858 490490004002008
21859 490490004002009
22119 490490005062000
22178 490490005071034
22181 490490005071037
22271 490490005081000
22346 490490005091009
22361 490490005092001
22371 490490005092011
22380 490490005093007
22381 490490005093008
22396 490490006011002
22399 490490006011005
22406 490490006011012
22410 490490006011016
22411 490490006011017
22412 490490006011018
22417 490490006011023

22466 490490006031007
22499 490490006033003
22608 490490007031000
22621 490490007032000
22641 490490007033000
22672 490490007063000
22726 490490007072000
22729 490490007072003
22763 490490007082001
22997 490490008011000
23028 490490008012000
23090 490490008022000
23105 490490008023000
23121 490490009011000
23137 490490009012000
23160 490490009013000
23224 490490009041000
23256 490490010011000
23264 490490010012000
23299 490490010021000
23338 490490010022012
23339 490490011031000
23357 490490011032000
23377 490490011032020
23404 490490011061000
23409 490490011062000
23459 490490011081000
23511 490490012012012
23523 490490012012024
23560 490490012022012
23652 490490013003020
23713 490490014014000
23733 490490014014020
23956 490490015031000
23995 490490015032011
24031 490490015042000
24106 490490016012001
24247 490490017012006
24356 490490018021003
24362 490490018022003
24382 490490018031003
24400 490490019001000
24411 490490019002000
24413 490490019002002
24420 490490019003000
24422 490490019003002
24482 490490020004010
24506 490490021011000
24612 490490022011005
24623 490490022011016
24626 490490022011019
24630 490490022011023
24641 490490022011034
24679 490490022011072
24688 490490022011081
24703 490490022011096
24705 490490022011098
24706 490490022011099
24733 490490022012022
24791 490490022042000
24832 490490022051009
24882 490490022052000
24910 490490022061006
24946 490490022071004
24949 490490022071007
24996 490490023001000
25028 490490023002014
25043 490490023003006
25051 490490023003014
25057 490490024001004
25060 490490024001007
25067 490490024001014
25072 490490024001019
25073 490490024001020
25077 490490024001024
25078 490490024001025
25082 490490024001029
25090 490490024001037
25097 490490024001044
25099 490490024001046
25101 490490025001001
25144 490490025004001
25158 490490027012000
25201 490490027013020
25330 490490027022005
25397 490490028011000
25427 490490028012022
25468 490490028012063
25471 490490028012066
25537 490490028022007
25562 490490028022032
25615 490490029012000
25625 490490029012010
25636 490490029013000
25654 490490029013018
25669 490490029014001
25680 490490029014012
25711 490490029014043
25749 490490029023000
25767 490490029023018
25782 490490030011000
25911 490490031031020
25913 490490031032001
25931 490490031032019
25932 490490031032020
26064 490490031052002
26094 490490031053004
26104 490490031061003
26154 490490032011005
26244 490490032032002
26288 490490032041000
26292 490490032041004
26320 490490032042000
26347 490490032051001
26435 490490033002000
26438 490490033002003
26492 490490033003022
26523 490490034011004
26573 490490034012000
26629 490490034021000
26666 490490034021037
26794 490490034031025
26829 490490034033000
26875 490490101031002
26898 490490101031025
26963 490490101032057
27002 490490101033020
27010 490490101033028
27029 490490101033047
27038 490490101033056
27174 490490101041042
27330 490490101051028
27353 490490101052018
27695 490490101071066
27699 490490101071070
27700 490490101071071
27715 490490101071086
27716 490490101071087
27724 490490101071095
27725 490490101071096
27748 490490101071119
27749 490490101071120
27783 490490101071154
27789 490490101071160
27798 490490101071169
27802 490490101071173
27942 490490101071313
27943 490490101071314
28036 490490101071407
28157 490490101071528
28751 490490101081031
28796 490490101082031
28810 490490101083002
28813 490490101083005
28818 490490101083010
28841 490490101091000
28869 490490101091028
28882 490490101091041
28904 490490101092016
28912 490490101092024
28921 490490101092033
28970 490490101093009
28975 490490101093014
28991 490490101093030
29057 490490101101005
29058 490490101101006
29070 490490101101018
29077 490490101102000
29084 490490101111000
29120 490490101112000
29125 490490101112005
29159 490490101113000
29165 490490101113006
29263 490490101122003
29268 490490101122008
29329 490490101122069
29334 490490101122074
29335 490490101122075
29362 490490101122102
29369 490490101122109
30062 490490102082000
30099 490490102083012
30144 490490102093005
30321 490490102103000
30529 490490102111058
30705 490490102121019
30709 490490102121023
30787 490490102122048
30826 490490102122087
30889 490490102131008
30953 490490102141019
30957 490490102141023
30961 490490102141027
30963 490490102142000
31013 490490102144000
31090 490490102153021
31124 490490102154006
31133 490490102161001
31172 490490102162019
31307 490490102172058
31393 490490102183000
31459 490490102191000
31485 490490102192000
31586 490490102201037
31657 490490103031000
31671 490490103031014
31676 490490103031019
31743 490490103041001
31745 490490103041003
31758 490490103041016
31785 490490103041043
31828 490490103042040
31832 490490103042044
31841 490490103043000
31844 490490103043003
31849 490490103043008
31879 490490103043038
31880 490490103043039
31882 490490103043041
31900 490490103051003
31901 490490103051004
31906 490490103051009
31927 490490103051030
32110 490490104041000
32168 490490104042035
32209 490490104061000
32232 490490104061023
32286 490490104061077
32289 490490104061080
32290 490490104061081
32392 490490104062100
32409 490490104062117
32464 490490104071029
32468 490490104071033
32469 490490104071034
32494 490490104072000
32523 490490104072029
32578 490490104082015
32583 490490104082020
32593 490490104082030
32599 490490104083000
32921 490490104101066
32998 490490104102021
33023 490490104102046
33258 490490104111225
33372 490490104112003
33725 490490105031000
33734 490490105031009
33735 490490105031010
33736 490490105031011
33742 490490105031017
33743 490490105031018
33753 490490105031028
33754 490490105031029
33764 490490105032001
33773 490490105032010
33781 490490105032018
33795 490490105032032
33802 490490105032039
33806 490490105032043
33810 490490105032047
33814 490490105032051
33818 490490105032055
33820 490490105032057
33830 490490105032067
33832 490490105032069
33847 490490105032084
33848 490490105032085
33858 490490105032095
33866 490490105032103
33878 490490105032115
33882 490490105032119
33891 490490105032128
33906 490490105041012
33939 490490105041045
33962 490490105041068
33971 490490105041077
33973 490490105041079
34013 490490105041120
34019 490490105041126
34025 490490105041132
34031 490490105041138
34047 490490105041154
34059 490490105041166
34061 490490105041168
34092 490490105041199
34106 490490105042009
34107 490490105042010
34112 490490105042015
34134 490490105042037
34137 490490105042040
34144 490490105042047
34155 490490105042058
34176 490490105042079
34196 490490105042099
34279 490490105052027
34290 490490105053003
34325 490490105061000
34389 490490105061064
34405 490490105062000
34852 490490106001423
34953 490490106001524
34954 490490106001525
35434 490490106002005
35552 490490106002123
35859 490490106002430
35884 490490106002455
35909 490490106002480
35952 490490106002523
36247 490490107001000
36485 490490109001131
36647 490490109001293
37916 490499801001027
37927 490499801001038
38070 490499801001181
38262 490499801001373
38297 490499801001408
38384 490572002021008
38420 490572002022021
38535 490572002042005
38559 490572002042029
38676 490572003002019
38680 490572003002023
38684 490572003002027
38700 490572003002043
38710 490572003003005
38717 490572003003012
38732 490572004001008
38737 490572004001013
38743 490572004001019
38754 490572004001030
38765 490572004002009
38770 490572004002014
38772 490572004002016
38775 490572004002019
38797 490572005003004
38831 490572005003038
38876 490572006001012
38967 490572007001036
39001 490572007003013
39025 490572008001021
39036 490572008002010
39049 490572008003012
39078 490572009001026
39087 490572009001035
39091 490572009001039
39103 490572009002005
39113 490572009003007
39118 490572011001004
39121 490572011001007
39131 490572011001017
39136 490572011001022
39151 490572011001037
39153 490572011001039
39154 490572011001040
39155 490572011001041
39158 490572011001044
39170 490572011001056
39171 490572011001057
39175 490572011001061
39180 490572011001066
39184 490572011001070
39191 490572012001000
39201 490572012001010
39211 490572012001020
39212 490572012001021
39220 490572012002001
39224 490572012002005
39232 490572012002013
39246 490572013011011
39262 490572013012009
39276 490572013021013
39288 490572013022010
39304 490572013023013
39320 490572014001015
39471 490572016002007
39492 490572016003019
39554 490572018001013
39556 490572018001015
39565 490572018001024
39572 490572018001031
39590 490572018002016
39612 490572019001013
39661 490572019001062
39702 490572019001103
39706 490572019001107
39707 490572019001108
39773 490572020001002
40253 490572101001401
40373 490572101002048
40380 490572101002055
40383 490572101002058
40451 490572101002126
40578 490572101002253
40645 490572101003060
40673 490572101003088
40718 490572102011030
40721 490572102011033
40820 490572102041003
40844 490572102041027
40902 490572102042038
40919 490572103021011
40920 490572103021012
41017 490572103023045
41040 490572103024007
41046 490572103024013
41126 490572103032029
41166 490572103034012
41186 490572103041003
41197 490572103041014
41212 490572103041029
41220 490572103041037
41273 490572104021005
41290 490572104021022
41300 490572104021032
41315 490572104021047
41327 490572104021059
41343 490572104022014
41357 490572104022028
41366 490572104022037
41384 490572104022055
41407 490572104022078
41408 490572104022079
41415 490572104031000
41436 490572104031021
41442 490572104031027
41539 490572104031124
41697 490572104033037
41763 490572104034060
41785 490572104035015
41818 490572104041008
41825 490572104041015
41841 490572104041031
41904 490572104042047
41912 490572104042055
41938 490572104042081
41941 490572105041000
41955 490572105041014
41974 490572105041033
41984 490572105041043
41986 490572105041045
41994 490572105041053
42018 490572105042022
42019 490572105042023
42026 490572105042030
42043 490572105042047
42082 490572105043034
42110 490572105043062
42147 490572105051016
42148 490572105051017
42151 490572105051020
42176 490572105051045
42178 490572105051047
42182 490572105051051
42186 490572105051055
42200 490572105052003
42223 490572105052026
42251 490572105052054
42260 490572105052063
42262 490572105052065
42266 490572105053000
42281 490572105053015
42313 490572105053047
42317 490572105053051
42323 490572105053057
42324 490572105053058
42326 490572105053060
42336 490572105061009
42376 490572105061049
42416 490572105062001
42494 490572105081003
42520 490572105081029
42593 490572105092026
42606 490572105092039
42640 490572105101025
42778 490572105121013
42786 490572105121021
42820 490572105121055
42866 490572105123000
42868 490572105123002
42959 490572106002008
42971 490572106002020
43034 490572107011018
43068 490572107012021
43120 490572107032000
43140 490572107041004
43193 490572107043014
43254 490572108001012
43276 490572108002013
43330 490572109002009
43354 490572109003010
43475 490572110002010
43514 490572111002012
43563 490572111005000
43615 490572112011027
43807 490572112023047

In [17]:
strList = ""
for index, row in sdfTazCb_gt1wSmall.iterrows():
    strList = strList + "'" + row['GEOID10'] + "',"
strList = "(" + strList[:-1] + ")"
strList

"('490111251031014','490111251041005','490111251041027','490111251042053','490111252002193','490111253014003','490111253031006','490111253031010','490111253031024','490111253031025','490111253031028','490111253031045','490111253032000','490111253032051','490111253033030','490111253033032','490111253041000','490111253042010','490111253042038','490111253043001','490111253051010','490111253051018','490111253053016','490111254011004','490111254011006','490111254011036','490111254012000','490111254012089','490111254013008','490111254013021','490111254032027','490111254033009','490111254033015','490111254051064','490111254052035','490111254061023','490111254062016','490111255011028','490111255013017','490111255031019','490111257011011','490111257021020','490111257022012','490111257023005','490111258011029','490111258041052','490111258071010','490111258072005','490111258082000','490111258083013','490111259052000','490111259053016','490111259071045','490111260013016','490111260021002','490111260021051','490111260021056','490111260022002','490111260022006','490111261011000','490111261011031','490111261014000','490111261041050','490111261042061','490111261042073','490111261043001','490111261043048','490111262021080','490111262021082','490111262032019','490111262032028','490111262032036','490111262041104','490111263041031','490111263041066','490111263041080','490111263042019','490111263042023','490111263061016','490111263061025','490111263062035','490111263062039','490111263063033','490111263063036','490111263063037','490111264022086','490111264041050','490111264052013','490111264062041','490111265005019','490111266002028','490111266003018','490111267002011','490111267002019','490111267002023','490111267004016','490111269013009','490111269015005','490111269016013','490111269016027','490111269023016','490111269024014','490111270021076','490111270021094','490111270031033','490111270032056','490111270032060','490111270032073','490111270032087','490111270032093','490111270041007','490111270041010','490111270042022','490111270042034','490111270042043','490111270043012','490111270043015','490111271002022','490111271003023','490111271004000','490351001001031','490351001002007','490351001002011','490351001002012','490351001002013','490351002001012','490351003061006','490351003062019','490351003081000','490351003081009','490351005002011','490351005005011','490351006001016','490351006001018','490351006004000','490351006005000','490351006005009','490351008001008','490351008003005','490351010002041','490351011011010','490351011022012','490351014002000','490351014002005','490351015002004','490351016002007','490351016002008','490351016003015','490351017001007','490351018003005','490351019001000','490351019001002','490351019001003','490351019001005','490351019002000','490351019002002','490351019002003','490351019002006','490351020001002','490351020001008','490351020001009','490351020002005','490351020003003','490351021001000','490351021001001','490351021001002','490351021001003','490351021001004','490351021001005','490351021001006','490351021001007','490351023001000','490351023001005','490351023002000','490351023002001','490351023002002','490351023002003','490351023002004','490351023002005','490351023002006','490351025001000','490351025001001','490351025001002','490351025001004','490351025001015','490351025001016','490351025001017','490351025001019','490351025001020','490351025001021','490351025001023','490351025001024','490351025001028','490351025001034','490351025001035','490351025001036','490351025001038','490351025001045','490351026001013','490351026002000','490351026003001','490351026003006','490351026003011','490351027011003','490351027013000','490351027013017','490351027021001','490351027021010','490351027022000','490351028011016','490351028011019','490351028011021','490351028011025','490351028012021','490351028021000','490351028021005','490351028021009','490351028021018','490351028021038','490351028022000','490351028023012','490351029001017','490351029001020','490351029001038','490351029001041','490351029001043','490351029002012','490351029002016','490351029002023','490351029002031','490351029003005','490351029003006','490351029003015','490351029003016','490351030001017','490351030001018','490351030002018','490351031001018','490351031002015','490351032001014','490351032002017','490351032003017','490351033002020','490351033003018','490351034001010','490351034002015','490351034003015','490351035001011','490351035002013','490351035003015','490351036001015','490351036002008','490351036002013','490351037002016','490351039001009','490351039002012','490351040001014','490351040002013','490351040003010','490351041002021','490351042003010','490351043001008','490351043001016','490351044001014','490351044001015','490351044002000','490351047001013','490351047003022','490351049001008','490351049002004','490351049003014','490351101032023','490351101032036','490351101032041','490351102005008','490351103002005','490351103004009','490351104013005','490351104021009','490351104021013','490351104023000','490351105003008','490351105004012','490351106001017','490351107011010','490351107021003','490351107022018','490351108001005','490351108004001','490351110011026','490351110012005','490351110022013','490351110023023','490351111011030','490351111012002','490351111013009','490351111014021','490351111023007','490351111034029','490351112011006','490351112012010','490351113041019','490351114001013','490351114002011','490351114004016','490351114005010','490351114006010','490351114006015','490351115001026','490351115001043','490351115001051','490351115001054','490351115001055','490351115001060','490351115001074','490351115001076','490351115001081','490351115001093','490351115001094','490351115001098','490351115001115','490351115001116','490351115001117','490351115001118','490351115001124','490351115001127','490351116001009','490351116001011','490351116001015','490351116001021','490351116001044','490351116002008','490351116004001','490351117011006','490351117012014','490351117021010','490351117022008','490351117023012','490351117024007','490351118011018','490351118012017','490351118013015','490351118021006','490351118021015','490351118022023','490351118022035','490351119031014','490351119032012','490351119043009','490351120011011','490351120011020','490351120022006','490351120023000','490351120024007','490351121002015','490351121002016','490351121002019','490351121002046','490351121002071','490351121003005','490351121003009','490351121004010','490351121005023','490351122011011','490351122011041','490351122012012','490351122013006','490351122021013','490351122022030','490351122022040','490351123013013','490351123021027','490351123023026','490351124021001','490351124023020','490351124024009','490351124031012','490351124031024','490351124031026','490351124041005','490351124041016','490351125011007','490351125021006','490351125022011','490351125023000','490351125023008','490351125033016','490351125033018','490351125033024','490351125033029','490351126041028','490351126044011','490351126051009','490351126052013','490351126053005','490351126054006','490351126054017','490351126054027','490351126055029','490351126082009','490351126091029','490351126113024','490351126121017','490351126133010','490351126142002','490351126191003','490351127002018','490351127003036','490351127003041','490351127004000','490351127004011','490351127004014','490351128041012','490351128042022','490351128043018','490351128101001','490351128101008','490351128101009','490351128101017','490351128101025','490351128102000','490351128102014','490351128102024','490351128102078','490351128102079','490351128122017','490351128123012','490351128124010','490351128133000','490351128151012','490351128151031','490351128152007','490351128161000','490351128161001','490351128163018','490351128171019','490351128171025','490351128171053','490351128171061','490351128171078','490351128172015','490351128172035','490351128172050','490351128172052','490351128172057','490351128172062','490351128173012','490351128181000','490351128191032','490351128192032','490351128201007','490351128201012','490351128221000','490351128221018','490351128222001','490351128222016','490351128233031','490351128233035','490351129042017','490351129042031','490351129052008','490351129053015','490351129053016','490351129053028','490351129072017','490351129073001','490351129121009','490351129122010','490351129132017','490351129133012','490351129142010','490351129143009','490351129171005','490351129172019','490351129181006','490351129202018','490351129202023','490351129211008','490351129212010','490351129213008','490351130071015','490351130071020','490351130072012','490351130081006','490351130082010','490351130083012','490351130084000','490351130101008','490351130102000','490351130102004','490351130102009','490351130103007','490351130103016','490351130104011','490351130111013','490351130112013','490351130121000','490351130121010','490351130131038','490351130131041','490351130131042','490351130132026','490351130141020','490351130142023','490351130161008','490351130162021','490351130171000','490351130171003','490351130173010','490351130174013','490351130191008','490351130191013','490351130191043','490351130191080','490351130201005','490351130201176','490351131012009','490351131013031','490351131021012','490351131052002','490351131052047','490351131071000','490351131071041','490351131071088','490351131073000','490351131073022','490351131073027','490351133052025','490351133053017','490351133053028','490351133054015','490351133062001','490351133063005','490351133063011','490351133071002','490351133072010','490351133073009','490351133074003','490351133081006','490351133082000','490351133083009','490351133092013','490351133093010','490351133101005','490351133101009','490351134061000','490351134061003','490351134062021','490351134063013','490351134071018','490351134072013','490351134072036','490351134072046','490351134073000','490351134082019','490351134091004','490351134103016','490351134111013','490351134112005','490351134112013','490351134121029','490351134133021','490351135052018','490351135091000','490351135092021','490351135101014','490351135101015','490351135103005','490351135103006','490351135112019','490351135122005','490351135131015','490351135144010','490351135151009','490351135152012','490351135201004','490351135201008','490351135212011','490351135214002','490351135221014','490351135222011','490351135231014','490351135233006','490351135252067','490351135252102','490351135262013','490351135321015','490351135331007','490351135331022','490351135331035','490351135332011','490351135333008','490351135341015','490351135341035','490351135342031','490351135351038','490351135351048','490351135361005','490351135362000','490351135362003','490351135371020','490351135372015','490351135381008','490351135382000','490351135392013','490351136001000','490351136002013','490351137011013','490351137021018','490351138011006','490351138023000','490351139031011','490351139031012','490351139031013','490351139032011','490351139032012','490351139041008','490351139044013','490351139054001','490351139054016','490351139054021','490351139061108','490351139061111','490351139061166','490351139061167','490351139061171','490351139061172','490351139061179','490351139061208','490351139071010','490351139071073','490351139071143','490351139073014','490351140001001','490351140001002','490351140001003','490351140001006','490351140001007','490351140001010','490351140001012','490351140001013','490351140001016','490351140001018','490351140001019','490351140001020','490351140001021','490351140001022','490351140001023','490351140001024','490351140001025','490351140001026','490351140001027','490351140001028','490351140001029','490351140001030','490351140001040','490351140001041','490351140001043','490351140001044','490351140001045','490351140001046','490351140001056','490351140001057','490351140001059','490351140001065','490351140001076','490351140001080','490351140001082','490351140001083','490351141001011','490351141001017','490351141001024','490351141002009','490351141002012','490351141002017','490351142001000','490351142001033','490351142002000','490351143002031','490351143002036','490351143003045','490351143004006','490351143004067','490351145001019','490351145002010','490351145003049','490351145003054','490351145003071','490351145003080','490351145003085','490351145003090','490351145003115','490351145003121','490351145003131','490351145003147','490351145003177','490351145003178','490351145003187','490351145003210','490351145003216','490351145003222','490351145003223','490351145003224','490351145003233','490351146002016','490351146003006','490351147001010','490351147001012','490351147001042','490351147002016','490351151061001','490351151061167','490351152091033','490359800001019','490359800001043','490359800001044','490359800001046','490359800001051','490490001021000','490490001023006','490490001023027','490490001032009','490490001032010','490490001032021','490490001032043','490490001034000','490490001034010','490490001034016','490490001051011','490490002031000','490490002032000','490490002041000','490490002042003','490490002043007','490490002044010','490490002051035','490490002052011','490490002061000','490490002062010','490490004002005','490490004002008','490490004002009','490490005062000','490490005071034','490490005071037','490490005081000','490490005091009','490490005092001','490490005092011','490490005093007','490490005093008','490490006011002','490490006011005','490490006011012','490490006011016','490490006011017','490490006011018','490490006011023','490490006031007','490490006033003','490490007031000','490490007032000','490490007033000','490490007063000','490490007072000','490490007072003','490490007082001','490490008011000','490490008012000','490490008022000','490490008023000','490490009011000','490490009012000','490490009013000','490490009041000','490490010011000','490490010012000','490490010021000','490490010022012','490490011031000','490490011032000','490490011032020','490490011061000','490490011062000','490490011081000','490490012012012','490490012012024','490490012022012','490490013003020','490490014014000','490490014014020','490490015031000','490490015032011','490490015042000','490490016012001','490490017012006','490490018021003','490490018022003','490490018031003','490490019001000','490490019002000','490490019002002','490490019003000','490490019003002','490490020004010','490490021011000','490490022011005','490490022011016','490490022011019','490490022011023','490490022011034','490490022011072','490490022011081','490490022011096','490490022011098','490490022011099','490490022012022','490490022042000','490490022051009','490490022052000','490490022061006','490490022071004','490490022071007','490490023001000','490490023002014','490490023003006','490490023003014','490490024001004','490490024001007','490490024001014','490490024001019','490490024001020','490490024001024','490490024001025','490490024001029','490490024001037','490490024001044','490490024001046','490490025001001','490490025004001','490490027012000','490490027013020','490490027022005','490490028011000','490490028012022','490490028012063','490490028012066','490490028022007','490490028022032','490490029012000','490490029012010','490490029013000','490490029013018','490490029014001','490490029014012','490490029014043','490490029023000','490490029023018','490490030011000','490490031031020','490490031032001','490490031032019','490490031032020','490490031052002','490490031053004','490490031061003','490490032011005','490490032032002','490490032041000','490490032041004','490490032042000','490490032051001','490490033002000','490490033002003','490490033003022','490490034011004','490490034012000','490490034021000','490490034021037','490490034031025','490490034033000','490490101031002','490490101031025','490490101032057','490490101033020','490490101033028','490490101033047','490490101033056','490490101041042','490490101051028','490490101052018','490490101071066','490490101071070','490490101071071','490490101071086','490490101071087','490490101071095','490490101071096','490490101071119','490490101071120','490490101071154','490490101071160','490490101071169','490490101071173','490490101071313','490490101071314','490490101071407','490490101071528','490490101081031','490490101082031','490490101083002','490490101083005','490490101083010','490490101091000','490490101091028','490490101091041','490490101092016','490490101092024','490490101092033','490490101093009','490490101093014','490490101093030','490490101101005','490490101101006','490490101101018','490490101102000','490490101111000','490490101112000','490490101112005','490490101113000','490490101113006','490490101122003','490490101122008','490490101122069','490490101122074','490490101122075','490490101122102','490490101122109','490490102082000','490490102083012','490490102093005','490490102103000','490490102111058','490490102121019','490490102121023','490490102122048','490490102122087','490490102131008','490490102141019','490490102141023','490490102141027','490490102142000','490490102144000','490490102153021','490490102154006','490490102161001','490490102162019','490490102172058','490490102183000','490490102191000','490490102192000','490490102201037','490490103031000','490490103031014','490490103031019','490490103041001','490490103041003','490490103041016','490490103041043','490490103042040','490490103042044','490490103043000','490490103043003','490490103043008','490490103043038','490490103043039','490490103043041','490490103051003','490490103051004','490490103051009','490490103051030','490490104041000','490490104042035','490490104061000','490490104061023','490490104061077','490490104061080','490490104061081','490490104062100','490490104062117','490490104071029','490490104071033','490490104071034','490490104072000','490490104072029','490490104082015','490490104082020','490490104082030','490490104083000','490490104101066','490490104102021','490490104102046','490490104111225','490490104112003','490490105031000','490490105031009','490490105031010','490490105031011','490490105031017','490490105031018','490490105031028','490490105031029','490490105032001','490490105032010','490490105032018','490490105032032','490490105032039','490490105032043','490490105032047','490490105032051','490490105032055','490490105032057','490490105032067','490490105032069','490490105032084','490490105032085','490490105032095','490490105032103','490490105032115','490490105032119','490490105032128','490490105041012','490490105041045','490490105041068','490490105041077','490490105041079','490490105041120','490490105041126','490490105041132','490490105041138','490490105041154','490490105041166','490490105041168','490490105041199','490490105042009','490490105042010','490490105042015','490490105042037','490490105042040','490490105042047','490490105042058','490490105042079','490490105042099','490490105052027','490490105053003','490490105061000','490490105061064','490490105062000','490490106001423','490490106001524','490490106001525','490490106002005','490490106002123','490490106002430','490490106002455','490490106002480','490490106002523','490490107001000','490490109001131','490490109001293','490499801001027','490499801001038','490499801001181','490499801001373','490499801001408','490572002021008','490572002022021','490572002042005','490572002042029','490572003002019','490572003002023','490572003002027','490572003002043','490572003003005','490572003003012','490572004001008','490572004001013','490572004001019','490572004001030','490572004002009','490572004002014','490572004002016','490572004002019','490572005003004','490572005003038','490572006001012','490572007001036','490572007003013','490572008001021','490572008002010','490572008003012','490572009001026','490572009001035','490572009001039','490572009002005','490572009003007','490572011001004','490572011001007','490572011001017','490572011001022','490572011001037',

In [18]:
# toggle for import... since it's such a beast
bRunDelete = True

if bRunDelete:
    
    strCBSEliminated = "TAZ_CBS_Eliminated"
    arcpy.management.CopyFeatures(strCBSEliminated, "_temp_CBS_Eliminated")

    lyrCBS.definitionQuery = ""
    arcpy.management.CopyFeatures(strCBS, "_temp_CBS_All")

    for lyr in m.listLayers("_temp_CBS_All"):
        lyrTempCBSAll = lyr
    
    # remove fields from data set to match original
    arcpy.DeleteField_management("_temp_CBS_All","BLOCKSPLITID")
    arcpy.DeleteField_management("_temp_CBS_All","SMALL"       )

    # filter by those that did not have another round of elimination
    sql = "GEOID10 NOT IN " + strList
    #print (sql)
    lyrTempCBSAll.definitionQuery = sql
    arcpy.management.CopyFeatures("_temp_CBS_All", "_temp_CBS_EliminatedRemoved")
   
    # remove fields from eliminated data set to match original - removed manually
    #arcpy.DeleteField_management("_temp_CBS_Eliminated","BLOCKSPLITID")
    #arcpy.DeleteField_management("_temp_CBS_Eliminated","SMALL"       )

    arcpy.management.Merge("_temp_CBS_EliminatedRemoved;_temp_CBS_Eliminated", r"Census_Block_Splits_Round2", 'GEOID10 "GEOID10" true true false 30 Text 0 0,First,#,_temp_CBS_EliminatedRemoved,GEOID10,0,30,_temp_CBS_Eliminated,GEOID10,0,15;CO_TAZID "CO_TAZID" true true false 4 Long 0 0,First,#,_temp_CBS_EliminatedRemoved,CO_TAZID,-1,-1,_temp_CBS_Eliminated,CO_TAZID,-1,-1;Shape_Length "Shape_Length" false true true 8 Double 0 0,First,#,_temp_CBS_EliminatedRemoved,Shape_Length,-1,-1,_temp_CBS_Eliminated,Shape_Length,-1,-1;Shape_Area "Shape_Area" false true true 8 Double 0 0,First,#,_temp_CBS_EliminatedRemoved,Shape_Area,-1,-1,_temp_CBS_Eliminated,Shape_Area,-1,-1', "NO_SOURCE_INFO")

arcpy.management.Delete("_temp_CBS_Eliminated")
arcpy.management.Delete("_temp_CBS_All")
arcpy.management.Delete("_temp_CBS_EliminatedRemoved")

In [22]:
arcpy.management.AddField("Census_Block_Splits_Round2", "Acres", "DOUBLE")
arcpy.CalculateField_management("Census_Block_Splits_Round2", "Acres", "!shape.area@acres!", "PYTHON", "")

In [23]:
arcpy.management.AddField("Census_Block_Splits_Round2", "PieceID", "INTEGER")
arcpy.CalculateField_management("Census_Block_Splits_Round2", "PieceID", "!OBJECTID!", "PYTHON", "")

In [3]:
# manually add back 490490105041104 and 490490104111183
# remove overlap 490111262041019 and 490351028021020
# manual edit to 490111262041019, 490490021021000,490490021022000,490490021021000  removing overlap
# CO_TAZID = 0

In [4]:
# IDs Again

In [54]:
#sdfTAZCB_Clean = pd.DataFrame.spatial.from_featureclass("Census_Block_Splits_Round2")
sdfTAZCB_Clean = pd.DataFrame.spatial.from_featureclass("Census_Block_Splits_Round2_replaceWithHHUpdatedforZero")
display(sdfTAZCB_Clean)

       OBJECTID  ...                                              SHAPE
0             1  ...  {"rings": [[[423685.8311999999, 4550176.372300...
1             2  ...  {"rings": [[[423664.0318999998, 4550936.680099...
2             3  ...  {"rings": [[[423835.48170000035, 4549739.37219...
3             4  ...  {"rings": [[[423835.48170000035, 4549739.37219...
4             5  ...  {"rings": [[[427765.27749999985, 4550716.73750...
...         ...  ...                                                ...
48012     48013  ...  {"rings": [[[425436.87519999966, 4554428.05320...
48013     48014  ...  {"rings": [[[425585.43840000033, 4554436.82840...
48014     48015  ...  {"rings": [[[423440.20189999975, 4554125.6844]...
48015     48016  ...  {"rings": [[[432136.4996999996, 4430898.0624],...
48016     48017  ...  {"rings": [[[440991.8794999998, 4428581.7675],...

[48017 rows x 6 columns]

In [55]:
# create numbering of pieces base on a cumulative count
sdfTAZCB_Clean['PIECECNT'] = sdfTAZCB_Clean.groupby(['GEOID10']).cumcount()+1
display(sdfTAZCB_Clean)

       OBJECTID  ... PIECECNT
0             1  ...        1
1             2  ...        1
2             3  ...        1
3             4  ...        1
4             5  ...        1
...         ...  ...      ...
48012     48013  ...        2
48013     48014  ...        3
48014     48015  ...        1
48015     48016  ...        1
48016     48017  ...        1

[48017 rows x 7 columns]

In [56]:
# for IDs determin which GEOIDS are not split
dfGEOID10s_NumPieces = sdfTAZCB_Clean.groupby(['GEOID10'],as_index=False).agg(NUMPIECES=('CO_TAZID','count'))
dfGEOID10s_NumPieces

               GEOID10  NUMPIECES
0      490111251021000          1
1      490111251021001          1
2      490111251021002          2
3      490111251021003          1
4      490111251021004          1
...                ...        ...
43804  490572112023043          1
43805  490572112023044          1
43806  490572112023045          1
43807  490572112023046          2
43808  490572112023047          1

[43809 rows x 2 columns]

In [57]:
sdfTAZCB_withNumPieces = pd.DataFrame.merge(sdfTAZCB_Clean,dfGEOID10s_NumPieces,on='GEOID10',how='left')
sdfTAZCB_withNumPieces

       OBJECTID          GEOID10  ...  PIECECNT  NUMPIECES
0             1  490111251021003  ...         1          1
1             2  490111251021004  ...         1          1
2             3  490111251021005  ...         1          1
3             4  490111251021006  ...         1          1
4             5  490111251021009  ...         1          1
...         ...              ...  ...       ...        ...
48012     48013  490572112011027  ...         2          3
48013     48014  490572112011027  ...         3          3
48014     48015  490572112023047  ...         1          1
48015     48016  490490105041104  ...         1          1
48016     48017  490490104111183  ...         1          1

[48017 rows x 8 columns]

In [58]:
# setup unique id which is combination of GEOID and the split number created when splitting by TAZs
sdfTAZCB_withNumPieces['BLOCKSPLITID'] = ""
sdfTAZCB_withNumPieces.loc[(sdfTAZCB_withNumPieces['NUMPIECES']==1), 'BLOCKSPLITID'] = sdfTAZCB_withNumPieces['GEOID10'] + '_0'
sdfTAZCB_withNumPieces.loc[(sdfTAZCB_withNumPieces['NUMPIECES']!=1), 'BLOCKSPLITID'] = sdfTAZCB_withNumPieces['GEOID10'] + '_' + sdfTAZCB_withNumPieces['PIECECNT'].astype(str)

#remove columns no longer needed
dfTAZCB_Final = sdfTAZCB_withNumPieces[['BLOCKSPLITID','GEOID10','CO_TAZID','PieceID']]

display(dfTAZCB_Final)

            BLOCKSPLITID          GEOID10  CO_TAZID  PieceID
0      490111251021003_0  490111251021003    110118        1
1      490111251021004_0  490111251021004    110118        2
2      490111251021005_0  490111251021005    110118        3
3      490111251021006_0  490111251021006    110118        4
4      490111251021009_0  490111251021009    110322        5
...                  ...              ...       ...      ...
48012  490572112011027_2  490572112011027    110322    48013
48013  490572112011027_3  490572112011027    570428    48014
48014  490572112023047_0  490572112023047    110058    48015
48015  490490105041104_0  490490105041104    491107    48016
48016  490490104111183_0  490490104111183    491211    48017

[48017 rows x 4 columns]

In [60]:
#export to csv
dfTAZCB_Final.to_csv('dfTABCB_Final3.csv')

In [62]:
arcpy.management.AddJoin("Census_Block_Splits_Round2_replaceWithHHUpdatedforZero", "PieceID", 'dfTABCB_Final3.csv', "PieceID")

In [63]:
arcpy.management.CopyFeatures("Census_Block_Splits_Round2_replaceWithHHUpdatedforZero", "Census_Block_Splits_Final")

In [64]:
arcpy.management.AddField("Census_Block_Splits_Final", "BLKSPLITID", "TEXT", field_length=25)
arcpy.CalculateField_management("Census_Block_Splits_Final", "BLOCKSPLITID", "!dfTABCB_Final3_csv_BLOCKSPLITID!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final", "GEOID10", "TEXT", field_length=25)
arcpy.CalculateField_management("Census_Block_Splits_Final", "GEOID10", "!Census_Block_Splits_Round2_replaceWithHHUpdatedforZero_GEOID10!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final", "CO_TAZID", "LONG")
arcpy.CalculateField_management("Census_Block_Splits_Final", "CO_TAZID", "!Census_Block_Splits_Round2_replaceWithHHUpdatedforZero_CO_TAZID!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final", "ACRES", "DOUBLE")
arcpy.CalculateField_management("Census_Block_Splits_Final", "ACRES", "!Census_Block_Splits_Round2_replaceWithHHUpdatedforZero_Acres!", "PYTHON", "")

In [65]:
# delte 
fldlist = arcpy.ListFields("Census_Block_Splits_Final")

for fld in fldlist: 
    if (fld.name not in ['OBJECTID','CO_TAZID','GEOID10','BLOCKSPLITID','Shape','Shape_Length','Shape_Area','ACRES']):
        print("deleting field: " + fld.name)
        arcpy.DeleteField_management("Census_Block_Splits_Final",[fld.name])
print("DONE!")

deleting field: Census_Block_Splits_Round2_replaceWithHHUpdatedforZero_GEOID10
deleting field: Census_Block_Splits_Round2_replaceWithHHUpdatedforZero_CO_TAZID
deleting field: Census_Block_Splits_Round2_replaceWithHHUpdatedforZero_ACRES
deleting field: Census_Block_Splits_Round2_replaceWithHHUpdatedforZero_PieceID
deleting field: dfTABCB_Final3_csv_Field1
deleting field: dfTABCB_Final3_csv_BLOCKSPLITID
deleting field: dfTABCB_Final3_csv_GEOID10
deleting field: dfTABCB_Final3_csv_CO_TAZID
deleting field: dfTABCB_Final3_csv_PieceID
DONE!

In [66]:
bRun = False

if bRun:
    
    lyrHUI.definitionQuery = "year_built IS NULL Or year_built <= 2010"
    arcpy.management.CopyFeatures(strHUILayerName, "ResUnits2010")
    
    lyrHUI.definitionQuery = "year_built IS NULL Or year_built <= 2019"
    arcpy.management.CopyFeatures(strHUILayerName, "ResUnits2019")

In [67]:
strHUILayerName

'residential_parcels_pts'

In [68]:
arcpy.gapro.JoinFeatures("Census_Block_Splits_Final", "ResUnits2010", "CensusBlock_joined_ResUnits2010", "JOIN_ONE_TO_ONE", "CONTAINS", None, '', None, None, "residential_units SUM;residential_units COUNT", '', "KEEP_ALL")
arcpy.gapro.JoinFeatures("Census_Block_Splits_Final", "ResUnits2019", "CensusBlock_joined_ResUnits2019", "JOIN_ONE_TO_ONE", "CONTAINS", None, '', None, None, "residential_units SUM;residential_units COUNT", '', "KEEP_ALL")

In [9]:
# set layer definition for TAZ
for lyr in m.listLayers("AddressPoints_NAD83"):
    lyrAddress = lyr
    if lyr.supports("DEFINITIONQUERY"):
        lyr.definitionQuery = "CountyID IN ('49011', '49035', '49049', '49057') And PtType NOT IN ('INDUSTRIAL', 'Industrial', 'COMMERCIAL', 'Commercial', 'Government', 'Vacant')"

arcpy.gapro.JoinFeatures("Census_Block_Splits_Final_AddressPointFeatures", "AddressPoints_NAD83", "CensusBlock_joined_AddressPoints", "JOIN_ONE_TO_ONE", "CONTAINS", None, '', None, None, "OBJECTID COUNT", '', "KEEP_ALL")

In [3]:
# put into sdf to calculate distributions

sdfResCBSplit2010 = pd.DataFrame.spatial.from_featureclass("CensusBlock_joined_ResUnits2010")
dfResCBSplit2010 = sdfResCBSplit2010[['BLOCKSPLITID','GEOID10','ACRES','SUM_residential_units']]
dfResCBSplit2010 = dfResCBSplit2010.rename(columns={'BLOCKSPLITID':'BLKSPLITID','SUM_residential_units':'HH10'})
display(dfResCBSplit2010)

sdfResCBSplit2019 = pd.DataFrame.spatial.from_featureclass("CensusBlock_joined_ResUnits2019")
dfResCBSplit2019 = sdfResCBSplit2019[['BLOCKSPLITID','SUM_residential_units']]
dfResCBSplit2019 = dfResCBSplit2019.rename(columns={'BLOCKSPLITID':'BLKSPLITID','SUM_residential_units':'HH19'})
display(dfResCBSplit2019)

sdfAddCBSplit = pd.DataFrame.spatial.from_featureclass("CensusBlock_joined_AddressPoints")
dfAddCBSplit = sdfAddCBSplit[['BLOCKSPLITID','COUNT']]
dfAddCBSplit = dfAddCBSplit.rename(columns={'BLOCKSPLITID':'BLKSPLITID','COUNT':'ADDPT'})
display(dfAddCBSplit)

              BLKSPLITID          GEOID10      ACRES  HH10
0      490111263041104_0  490111263041104   5.919475  16.0
1      490111263051036_0  490111263051036  15.054454  35.0
2      490111253012017_0  490111253012017   9.710964  38.0
3      490111262021148_0  490111262021148  43.952386   NaN
4      490111262041064_0  490111262041064   1.086795   NaN
...                  ...              ...        ...   ...
48012  490490105031018_1  490490105031018   2.814466   NaN
48013  490572104031126_0  490572104031126   9.154844   1.0
48014  490490010022012_0  490490010022012   4.539485  11.0
48015  490111251031014_0  490111251031014  24.571188   1.0
48016  490572104031158_3  490572104031158   2.879918   NaN

[48017 rows x 4 columns]

              BLKSPLITID  HH19
0      490111263041104_0  16.0
1      490111263051036_0  36.0
2      490111253012017_0  38.0
3      490111262021148_0   NaN
4      490111262041064_0   NaN
...                  ...   ...
48012  490490105031018_1   NaN
48013  490572104031126_0   1.0
48014  490490010022012_0  12.0
48015  490111251031014_0   1.0
48016  490572104031158_3   NaN

[48017 rows x 2 columns]

             BLKSPLITID  ADDPT
0     490490101071215_0    0.0
1     490572104031191_1    0.0
2     490111270032016_0    0.0
3     490572101001127_0    0.0
4     490490104111132_0    0.0
...                 ...    ...
6594  490490005071006_0    0.0
6595  490572101001132_0    0.0
6596  490499801001326_0    0.0
6597  490351139071102_2    0.0
6598  490572101002222_0    0.0

[6599 rows x 2 columns]

In [4]:
dfAddCBSplit[dfAddCBSplit['BLKSPLITID']=='490351101023009_4']

             BLKSPLITID  ADDPT
5091  490351101023009_4  151.0

In [5]:
dfResCBS    = pd.DataFrame.merge(dfResCBSplit2010, dfResCBSplit2019, on='BLKSPLITID')
dfResCBSAdd = pd.DataFrame.merge(dfResCBS        , dfAddCBSplit    , on='BLKSPLITID', how='left')
dfResCBSAdd = dfResCBSAdd.fillna(0)

# add in address points
dfResCBSAdd['HH10'] = dfResCBSAdd['HH10'] + dfResCBSAdd['ADDPT']
dfResCBSAdd['HH19'] = dfResCBSAdd['HH19'] + dfResCBSAdd['ADDPT']

#idx is the index of split, which is last number in BlockSplitID
dfResCBSAdd['SPLIT_IDX'] = dfResCBSAdd['BLKSPLITID'].str[-1:].astype(int)

dfResCBSAdd

              BLKSPLITID          GEOID10      ACRES  ...  HH19  ADDPT  SPLIT_IDX
0      490111263041104_0  490111263041104   5.919475  ...  16.0    0.0          0
1      490111263051036_0  490111263051036  15.054454  ...  36.0    0.0          0
2      490111253012017_0  490111253012017   9.710964  ...  38.0    0.0          0
3      490111262021148_0  490111262021148  43.952386  ...   0.0    0.0          0
4      490111262041064_0  490111262041064   1.086795  ...   0.0    0.0          0
...                  ...              ...        ...  ...   ...    ...        ...
48012  490490105031018_1  490490105031018   2.814466  ...   0.0    0.0          1
48013  490572104031126_0  490572104031126   9.154844  ...   1.0    0.0          0
48014  490490010022012_0  490490010022012   4.539485  ...  12.0    0.0          0
48015  490111251031014_0  490111251031014  24.571188  ...   1.0    0.0          0
48016  490572104031158_3  490572104031158   2.879918  ...   0.0    0.0          3

[48017 rows x 7 columns]

In [6]:
dfResCBSAdd[dfResCBSAdd['GEOID10']=='490351101023009']

              BLKSPLITID          GEOID10        ACRES  ...   HH19  ADDPT  SPLIT_IDX
6180   490351101023009_8  490351101023009     3.352431  ...    0.0    0.0          8
6536   490351101023009_3  490351101023009   222.635252  ...   88.0   88.0          3
15628  490351101023009_4  490351101023009   443.017600  ...  151.0  151.0          4
25381  490351101023009_5  490351101023009  7819.739806  ...    0.0    0.0          5
35288  490351101023009_6  490351101023009  7934.806350  ...    6.0    6.0          6
35338  490351101023009_1  490351101023009   543.232898  ...  172.0  172.0          1
44699  490351101023009_7  490351101023009   262.889903  ...    1.0    1.0          7
44954  490351101023009_2  490351101023009  1036.531034  ...   26.0   26.0          2

[8 rows x 7 columns]

In [7]:
dfSumByGEOID10 = dfResCBSAdd.groupby(['GEOID10'],as_index=False).agg(NUMBLOCKSPLITS=('BLKSPLITID','count'),BLK_ACRES=('ACRES','sum'),BLK_HH10=('HH10','sum'),BLK_HH19=('HH19','sum'),BLK_ADDPT=('ADDPT','sum'))
dfSumByGEOID10['SPLIT'] = 0
dfSumByGEOID10.loc[(dfSumByGEOID10['NUMBLOCKSPLITS']>1),'SPLIT'] = 1
dfSumByGEOID10

               GEOID10  NUMBLOCKSPLITS   BLK_ACRES  ...  BLK_HH19  BLK_ADDPT  SPLIT
0      490111251021000               1  334.904875  ...       0.0        0.0      0
1      490111251021001               1   89.733145  ...       0.0        0.0      0
2      490111251021002               2  351.958580  ...       9.0        0.0      1
3      490111251021003               1    3.561104  ...       1.0        0.0      0
4      490111251021004               1    0.133019  ...       0.0        0.0      0
...                ...             ...         ...  ...       ...        ...    ...
43804  490572112023043               1    0.021930  ...       0.0        0.0      0
43805  490572112023044               1    6.706621  ...       6.0        0.0      0
43806  490572112023045               1    6.226782  ...       4.0        0.0      0
43807  490572112023046               2    4.308331  ...       0.0        0.0      1
43808  490572112023047               1    0.315018  ...       0.0        0.0      0

[43809 rows x 7 columns]

In [8]:
dfResCBSwithTotals = pd.DataFrame.merge(dfResCBSAdd,dfSumByGEOID10,on='GEOID10')
dfResCBSwithTotals

              BLKSPLITID          GEOID10  ...  BLK_ADDPT  SPLIT
0      490111263041104_0  490111263041104  ...        0.0      0
1      490111263051036_0  490111263051036  ...        0.0      0
2      490111253012017_0  490111253012017  ...        0.0      0
3      490111262021148_0  490111262021148  ...        0.0      0
4      490111262041064_0  490111262041064  ...        0.0      0
...                  ...              ...  ...        ...    ...
48012  490572104041022_0  490572104041022  ...        0.0      0
48013  490572105051020_0  490572105051020  ...        0.0      0
48014  490572104031126_0  490572104031126  ...        0.0      0
48015  490490010022012_0  490490010022012  ...        0.0      0
48016  490111251031014_0  490111251031014  ...        0.0      0

[48017 rows x 13 columns]

In [9]:
dfResCBSwithTotals[dfResCBSwithTotals['GEOID10']=='490351101023009']

             BLKSPLITID          GEOID10  ...  BLK_ADDPT  SPLIT
6569  490351101023009_8  490351101023009  ...      444.0      1
6570  490351101023009_3  490351101023009  ...      444.0      1
6571  490351101023009_4  490351101023009  ...      444.0      1
6572  490351101023009_5  490351101023009  ...      444.0      1
6573  490351101023009_6  490351101023009  ...      444.0      1
6574  490351101023009_1  490351101023009  ...      444.0      1
6575  490351101023009_7  490351101023009  ...      444.0      1
6576  490351101023009_2  490351101023009  ...      444.0      1

[8 rows x 13 columns]

In [10]:
dfResCBSwithTotals['PCT_ACRES'] = dfResCBSwithTotals['ACRES' ]/dfResCBSwithTotals['BLK_ACRES']
dfResCBSwithTotals['PCT_HH10' ] = dfResCBSwithTotals['HH10'  ]/dfResCBSwithTotals['BLK_HH10' ]
dfResCBSwithTotals['PCT_HH19' ] = dfResCBSwithTotals['HH19'  ]/dfResCBSwithTotals['BLK_HH19' ]

dfResCBSwithTotals.loc[(dfResCBSwithTotals['BLK_HH10']==0),'PCT_HH10'] = dfResCBSwithTotals['PCT_ACRES']
dfResCBSwithTotals.loc[(dfResCBSwithTotals['BLK_HH19']==0),'PCT_HH19'] = dfResCBSwithTotals['PCT_ACRES']

dfResCBSwithTotals

              BLKSPLITID          GEOID10  ...  PCT_HH10  PCT_HH19
0      490111263041104_0  490111263041104  ...       1.0       1.0
1      490111263051036_0  490111263051036  ...       1.0       1.0
2      490111253012017_0  490111253012017  ...       1.0       1.0
3      490111262021148_0  490111262021148  ...       1.0       1.0
4      490111262041064_0  490111262041064  ...       1.0       1.0
...                  ...              ...  ...       ...       ...
48012  490572104041022_0  490572104041022  ...       1.0       1.0
48013  490572105051020_0  490572105051020  ...       1.0       1.0
48014  490572104031126_0  490572104031126  ...       1.0       1.0
48015  490490010022012_0  490490010022012  ...       1.0       1.0
48016  490111251031014_0  490111251031014  ...       1.0       1.0

[48017 rows x 16 columns]

In [11]:
dfResCBSwithTotals[dfResCBSwithTotals['GEOID10']=='490351101023009']

             BLKSPLITID          GEOID10  ...  PCT_HH10  PCT_HH19
6569  490351101023009_8  490351101023009  ...  0.000000  0.000000
6570  490351101023009_3  490351101023009  ...  0.198198  0.198198
6571  490351101023009_4  490351101023009  ...  0.340090  0.340090
6572  490351101023009_5  490351101023009  ...  0.000000  0.000000
6573  490351101023009_6  490351101023009  ...  0.013514  0.013514
6574  490351101023009_1  490351101023009  ...  0.387387  0.387387
6575  490351101023009_7  490351101023009  ...  0.002252  0.002252
6576  490351101023009_2  490351101023009  ...  0.058559  0.058559

[8 rows x 16 columns]

In [19]:
dfResCBSwithTotals[['HH10','HH19','ADDPT','PCT_ACRES','PCT_HH10','PCT_HH19','SPLIT','SPLIT_IDX']].sum()

HH10         689335.0
HH19         811537.0
ADDPT         10563.0
PCT_ACRES     43809.0
PCT_HH10      43809.0
PCT_HH19      43809.0
SPLIT          7197.0
SPLIT_IDX     13624.0
dtype: float64

In [13]:
initial_BG_count = arcpy.management.GetCount(strCBLayerName)
print (initial_BG_count)

43809

In [14]:
dfCheckMatch = pd.DataFrame.merge(sdfOriginalBG[['GEOID10']],dfSumByGEOID10,on='GEOID10',how='left')
dfCheckMatch[dfCheckMatch['NUMBLOCKSPLITS'].isna()]

NameError: name 'sdfOriginalBG' is not defined

In [24]:
dfResCBSwithTotals[['BLKSPLITID','SPLIT','SPLIT_IDX','HH10','HH19','ADDPT','BLK_ACRES','BLK_HH10','BLK_HH19','BLK_ADDPT','PCT_ACRES','PCT_HH10','PCT_HH19']].to_csv('Split2.csv')

In [25]:
arcpy.management.RemoveJoin("Census_Block_Splits_Final")
arcpy.management.AddJoin("Census_Block_Splits_Final", "BLOCKSPLITID", 'Split2.csv', "BLKSPLITID")

In [26]:
arcpy.management.CopyFeatures("Census_Block_Splits_Final", "Census_Block_Splits_Final_wHHSplits")

In [29]:
arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", "BLKSPLITID", "TEXT", field_length=25)
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", "BLKSPLITID", "!Census_Block_Splits_Final_BLOCKSPLITID!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", "SPLIT", "INTEGER")
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", "SPLIT", "!Split2_csv_SPLIT!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", "SPLIT_IDX", "INTEGER")
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", "SPLIT_IDX", "!Split2_csv_SPLIT_IDX!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", "GEOID10", "TEXT", field_length=25)
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", "GEOID10", "!Census_Block_Splits_Final_GEOID10!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", "CO_TAZID", "LONG")
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", "CO_TAZID", "!Census_Block_Splits_Final_CO_TAZID!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", "ACRES", "DOUBLE")
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", "ACRES", "!Census_Block_Splits_Final_ACRES!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", "HH10", "INTEGER")
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", "HH10", "!Split2_csv_HH10!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", "HH19", "INTEGER")
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", "HH19", "!Split2_csv_HH19!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", "ADDPT", "INTEGER")
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", "ADDPT", "!Split2_csv_ADDPT!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", "BLK_ACRES", "DOUBLE")
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", "BLK_ACRES", "!Split2_csv_BLK_ACRES!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", "BLK_HH10", "INTEGER")
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", "BLK_HH10", "!Split2_csv_BLK_HH10!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", "BLK_HH19", "INTEGER")
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", "BLK_HH19", "!Split2_csv_BLK_HH19!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", "BLK_ADDPT", "INTEGER")
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", "BLK_ADDPT", "!Split2_csv_BLK_ADDPT!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", "PCT_ACRES", "DOUBLE")
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", "PCT_ACRES", "!Split2_csv_PCT_ACRES!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", "PCT_HH10", "DOUBLE")
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", "PCT_HH10", "!Split2_csv_PCT_HH10!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", "PCT_HH19", "DOUBLE")
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", "PCT_HH19", "!Split2_csv_PCT_HH19!", "PYTHON", "")

In [30]:

# add UTM x and y coordinates of central point
arcpy.management.AddGeometryAttributes("Census_Block_Splits_Final_wHHSplits", "CENTROID_INSIDE")

arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", "X_BLKSPLIT", "DOUBLE", field_length=25)
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", "X_BLKSPLIT", "!INSIDE_X!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", "Y_BLKSPLIT", "DOUBLE", field_length=25)
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", "Y_BLKSPLIT", "!INSIDE_Y!", "PYTHON", "")

In [31]:
# delte 
fldlist = arcpy.ListFields("Census_Block_Splits_Final_wHHSplits")

for fld in fldlist: 
    if (fld.name not in ['OBJECTID','CO_TAZID','GEOID10','BLKSPLITID','SPLIT','SPLIT_IDX','Shape','Shape_Length','Shape_Area','ACRES','HH10','HH19','BLK_ACRES','BLK_HH10','BLK_HH19','BLK_ACRES','BLK_ADDPT','PCT_ACRES','PCT_HH10','PCT_HH19','ADDPT','X_BLKSPLIT','Y_BLKSPLIT']):
        print("deleting field: " + fld.name)
        arcpy.DeleteField_management("Census_Block_Splits_Final_wHHSplits",[fld.name])
print("DONE!")

deleting field: Census_Block_Splits_Final_BLOCKSPLITID
deleting field: Census_Block_Splits_Final_GEOID10
deleting field: Census_Block_Splits_Final_CO_TAZID
deleting field: Census_Block_Splits_Final_ACRES
deleting field: Split2_csv_Field1
deleting field: Split2_csv_BLKSPLITID
deleting field: Split2_csv_SPLIT
deleting field: Split2_csv_SPLIT_IDX
deleting field: Split2_csv_HH10
deleting field: Split2_csv_HH19
deleting field: Split2_csv_ADDPT
deleting field: Split2_csv_BLK_ACRES
deleting field: Split2_csv_BLK_HH10
deleting field: Split2_csv_BLK_HH19
deleting field: Split2_csv_BLK_ADDPT
deleting field: Split2_csv_PCT_ACRES
deleting field: Split2_csv_PCT_HH10
deleting field: Split2_csv_PCT_HH19
deleting field: ADDPT
deleting field: BLK_ADDPT
deleting field: INSIDE_X
deleting field: INSIDE_Y
DONE!

In [91]:
# manually delete polygons with very small area, acres = 0

In [92]:
arcpy.management.CopyFeatures("Census_Block_Splits_Final_wHHSplits", "CensusBlockTAZSplitsWithHouseholds.shp")

In [93]:
strLayerName = "CensusBlockTAZSplitsWithHouseholds.shp"

initial_count = arcpy.management.GetCount(strLayerName)
print (initial_count)

# union with self to see if overlapping polygons
arcpy.analysis.Union([strLayerName, strLayerName], "tempSelfUnion")
selfunion_count = arcpy.management.GetCount("tempSelfUnion")
print (selfunion_count)

arcpy.management.Delete("tempSelfUnion")

48017
48017

In [89]:
# Fix 0 CO_TAZID

for lyr in m.listLayers("CensusBlockTAZSplitsWithHouseholds"):
    lyrCBTAZwHH = lyr


lyrCBTAZwHH.definitionQuery = "CO_TAZID=0"

In [46]:
arcpy.management.FeatureToPoint("CensusBlockTAZSplitsWithHouseholds", r"E:\GitHub\Census-Block-to-TAZ\Census Block to TAZ.gdb\CBTAZwHH_COTAZIDZero_Points", "INSIDE")

In [48]:
with arcpy.EnvManager(scratchWorkspace=r"E:\GitHub\Census-Block-to-TAZ\Census Block to TAZ.gdb", workspace=r"E:\GitHub\Census-Block-to-TAZ\Census Block to TAZ.gdb"):
    arcpy.gapro.JoinFeatures("CBTAZwHH_COTAZIDZero_Points", "USTM_TAZ_2021_09_22", r"E:\GitHub\Census-Block-to-TAZ\Census Block to TAZ.gdb\CBTAZwHH_COTAZIDZero_Points_JoinFeatures", "JOIN_ONE_TO_ONE", "WITHIN", None, '', None, None, "CO_TAZID MIN", '', "KEEP_COMMON")

In [ ]:
#manual work to get round 2 replaced file

In [1]:
# ADDRESS POINTS